//! **************************************************************************
// Written by: Map P.20131013 on Thu Sep 15 05:17:45 2022
//! **************************************************************************

SCHEMATIC START;
COMP "P_IO_ETRG_IN" LOCATE = SITE "P107" LEVEL 1;
PIN P_IO_ETRG_IN_pin<0> = BEL "P_IO_ETRG_IN" PINNAME PAD;
PIN "P_IO_ETRG_IN_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "P_I_J44" LOCATE = SITE "P69" LEVEL 1;
COMP "P_IO_ETRG_OUT" LOCATE = SITE "P104" LEVEL 1;
COMP "P_O_CAL" LOCATE = SITE "P97" LEVEL 1;
COMP "P_IO_UC_SLCS" LOCATE = SITE "P11" LEVEL 1;
COMP "P_IO_UC_SLOE" LOCATE = SITE "P17" LEVEL 1;
COMP "P_IO_UC_SLRD" LOCATE = SITE "P35" LEVEL 1;
COMP "P_IO_UC_SLWR" LOCATE = SITE "P36" LEVEL 1;
COMP "P_IO_PMC_USR(10)" LOCATE = SITE "P125" LEVEL 1;
COMP "P_IO_PMC_USR(20)" LOCATE = SITE "P118" LEVEL 1;
COMP "P_IO_PMC_USR(12)" LOCATE = SITE "P124" LEVEL 1;
COMP "P_IO_PMC_USR(30)" LOCATE = SITE "P80" LEVEL 1;
COMP "P_IO_PMC_USR(22)" LOCATE = SITE "P116" LEVEL 1;
COMP "P_IO_PMC_USR(14)" LOCATE = SITE "P123" LEVEL 1;
COMP "P_IO_PMC_USR(31)" LOCATE = SITE "P51" LEVEL 1;
COMP "P_IO_PMC_USR(40)" LOCATE = SITE "P74" LEVEL 1;
COMP "P_IO_PMC_USR(24)" LOCATE = SITE "P113" LEVEL 1;
COMP "P_IO_PMC_USR(16)" LOCATE = SITE "P122" LEVEL 1;
COMP "P_IO_PMC_USR(41)" LOCATE = SITE "P92" LEVEL 1;
COMP "P_IO_PMC_USR(33)" LOCATE = SITE "P52" LEVEL 1;
COMP "P_IO_PMC_USR(50)" LOCATE = SITE "P87" LEVEL 1;
COMP "P_IO_PMC_USR(42)" LOCATE = SITE "P76" LEVEL 1;
COMP "P_IO_PMC_USR(26)" LOCATE = SITE "P112" LEVEL 1;
COMP "P_IO_PMC_USR(18)" LOCATE = SITE "P119" LEVEL 1;
COMP "P_IO_PMC_USR(51)" LOCATE = SITE "P90" LEVEL 1;
COMP "P_IO_PMC_USR(35)" LOCATE = SITE "P44" LEVEL 1;
COMP "P_IO_PMC_USR(60)" LOCATE = SITE "P83" LEVEL 1;
COMP "P_IO_PMC_USR(52)" LOCATE = SITE "P86" LEVEL 1;
COMP "P_IO_PMC_USR(28)" LOCATE = SITE "P135" LEVEL 1;
COMP "P_IO_PMC_USR(53)" LOCATE = SITE "P79" LEVEL 1;
COMP "P_IO_PMC_USR(37)" LOCATE = SITE "P46" LEVEL 1;
COMP "P_IO_PMC_USR(29)" LOCATE = SITE "P50" LEVEL 1;
COMP "P_IO_PMC_USR(62)" LOCATE = SITE "P82" LEVEL 1;
COMP "P_IO_PMC_USR(54)" LOCATE = SITE "P78" LEVEL 1;
COMP "P_IO_PMC_USR(55)" LOCATE = SITE "P77" LEVEL 1;
COMP "P_IO_PMC_USR(39)" LOCATE = SITE "P47" LEVEL 1;
COMP "P_IO_PMC_USR(56)" LOCATE = SITE "P85" LEVEL 1;
COMP "P_IO_PMC_USR(48)" LOCATE = SITE "P89" LEVEL 1;
COMP "P_IO_PMC_USR(58)" LOCATE = SITE "P84" LEVEL 1;
COMP "P_IO_J42" LOCATE = SITE "P141" LEVEL 1;
COMP "P_IO_J43" LOCATE = SITE "P140" LEVEL 1;
COMP "P_IO_T20" LOCATE = SITE "P103" LEVEL 1;
COMP "P_IO_T19" LOCATE = SITE "P108" LEVEL 1;
COMP "P_IO_UC_FD(0)" LOCATE = SITE "P30" LEVEL 1;
COMP "P_IO_UC_FD(1)" LOCATE = SITE "P31" LEVEL 1;
COMP "P_IO_UC_FD(2)" LOCATE = SITE "P32" LEVEL 1;
COMP "P_IO_UC_FD(3)" LOCATE = SITE "P33" LEVEL 1;
COMP "P_IO_UC_FD(4)" LOCATE = SITE "P28" LEVEL 1;
COMP "P_IO_UC_FD(5)" LOCATE = SITE "P27" LEVEL 1;
COMP "P_IO_UC_FD(6)" LOCATE = SITE "P26" LEVEL 1;
COMP "P_IO_UC_FD(7)" LOCATE = SITE "P25" LEVEL 1;
COMP "P_IO_UC_FD(8)" LOCATE = SITE "P10" LEVEL 1;
COMP "P_IO_UC_FD(9)" LOCATE = SITE "P8" LEVEL 1;
COMP "P_IO_UC_FLAGB" LOCATE = SITE "P23" LEVEL 1;
COMP "P_IO_UC_FLAGC" LOCATE = SITE "P21" LEVEL 1;
COMP "P_I_CLK33" LOCATE = SITE "P40" LEVEL 1;
PIN P_I_CLK33_pin<0> = BEL "P_I_CLK33" PINNAME PAD;
PIN "P_I_CLK33_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "P_I_ATRG1" LOCATE = SITE "P70" LEVEL 1;
PIN P_I_ATRG1_pin<0> = BEL "P_I_ATRG1" PINNAME PAD;
PIN "P_I_ATRG1_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "P_I_ATRG2" LOCATE = SITE "P68" LEVEL 1;
PIN P_I_ATRG2_pin<0> = BEL "P_I_ATRG2" PINNAME PAD;
PIN "P_I_ATRG2_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "P_I_ATRG3" LOCATE = SITE "P60" LEVEL 1;
PIN P_I_ATRG3_pin<0> = BEL "P_I_ATRG3" PINNAME PAD;
PIN "P_I_ATRG3_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "P_I_ATRG4" LOCATE = SITE "P59" LEVEL 1;
PIN P_I_ATRG4_pin<0> = BEL "P_I_ATRG4" PINNAME PAD;
PIN "P_I_ATRG4_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "P_IO_UC_FD(10)" LOCATE = SITE "P7" LEVEL 1;
COMP "P_IO_UC_FD(11)" LOCATE = SITE "P6" LEVEL 1;
COMP "P_IO_UC_FD(12)" LOCATE = SITE "P5" LEVEL 1;
COMP "P_IO_UC_FD(13)" LOCATE = SITE "P1" LEVEL 1;
COMP "P_IO_UC_FD(14)" LOCATE = SITE "P2" LEVEL 1;
COMP "P_IO_UC_FD(15)" LOCATE = SITE "P4" LEVEL 1;
COMP "P_O_ECLK_IND" LOCATE = SITE "P99" LEVEL 1;
COMP "P_IO_UC_PKTEND" LOCATE = SITE "P12" LEVEL 1;
COMP "P_IO_UC_FIFOADR0" LOCATE = SITE "P14" LEVEL 1;
COMP "P_IO_UC_FIFOADR1" LOCATE = SITE "P13" LEVEL 1;
COMP "P_O_ETRG_IND" LOCATE = SITE "P105" LEVEL 1;
COMP "P_O_TCA_CTRL" LOCATE = SITE "P53" LEVEL 1;
COMP "P_IO_PMC_USR(0)" LOCATE = SITE "P131" LEVEL 1;
COMP "P_IO_PMC_USR(2)" LOCATE = SITE "P130" LEVEL 1;
COMP "P_IO_PMC_USR(4)" LOCATE = SITE "P129" LEVEL 1;
COMP "P_IO_PMC_USR(6)" LOCATE = SITE "P128" LEVEL 1;
COMP "P_IO_PMC_USR(8)" LOCATE = SITE "P127" LEVEL 1;
COMP "P_I_UC_PA0" LOCATE = SITE "P20" LEVEL 1;
COMP "P_O_ECLK_OUTD" LOCATE = SITE "P93" LEVEL 1;
COMP "P_O_LED_YELLOW" LOCATE = SITE "P137" LEVEL 1;
COMP "P_O_LED_GREEN" LOCATE = SITE "P132" LEVEL 1;
COMP "P_IO_ECLK_OUT" LOCATE = SITE "P98" LEVEL 1;
COMP "P_IO_ECLK_IN" LOCATE = SITE "P100" LEVEL 1;
PIN P_IO_ECLK_IN_pin<0> = BEL "P_IO_ECLK_IN" PINNAME PAD;
PIN "P_IO_ECLK_IN_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "P_O_ETRG_OUTD" LOCATE = SITE "P102" LEVEL 1;
NET "P_I_CLK33_IBUFG" BEL "clocks_inst_bufg_clk33_i.GCLKMUX" USELOCALCONNECT;
PIN clocks_Inst_dcm1_clk132_pins<3> = BEL "clocks_Inst_dcm1_clk132" PINNAME
        CLKIN;
PIN clocks_Inst_dcm3_clk_ps_pins<2> = BEL "clocks_Inst_dcm3_clk_ps" PINNAME
        CLKIN;
PIN clocks_Inst_dcm3_clk_ps_pins<4> = BEL "clocks_Inst_dcm3_clk_ps" PINNAME
        PSCLK;
TIMEGRP P_I_CLK33 = BEL "global_reset" BEL "clocks_ps_shadow_7" BEL
        "clocks_ps_shadow_6" BEL "clocks_ps_shadow_5" BEL "clocks_ps_shadow_4"
        BEL "clocks_ps_shadow_3" BEL "clocks_ps_shadow_2" BEL
        "clocks_ps_shadow_1" BEL "clocks_ps_shadow_0" BEL "clocks_ps_incdec"
        BEL "clocks_ps_state_0" BEL "clocks_ps_enable" BEL "global_reset_1"
        BEL "global_reset_2" BEL "global_reset_3" BEL
        "clocks_inst_bufg_clk33_i.GCLKMUX" BEL "clocks_inst_bufg_clk33_i" PIN
        "clocks_Inst_dcm1_clk132_pins<3>" PIN
        "clocks_Inst_dcm3_clk_ps_pins<2>" PIN
        "clocks_Inst_dcm3_clk_ps_pins<4>";
PIN drs_dpram_dpram_gen[15].ramb16_s36_s36_inst.B_pins<10> = BEL
        "drs_dpram_dpram_gen[15].ramb16_s36_s36_inst.B" PINNAME CLKB;
PIN drs_dpram_dpram_gen[14].ramb16_s36_s36_inst.B_pins<10> = BEL
        "drs_dpram_dpram_gen[14].ramb16_s36_s36_inst.B" PINNAME CLKB;
PIN drs_dpram_dpram_gen[13].ramb16_s36_s36_inst.B_pins<10> = BEL
        "drs_dpram_dpram_gen[13].ramb16_s36_s36_inst.B" PINNAME CLKB;
PIN drs_dpram_dpram_gen[12].ramb16_s36_s36_inst.B_pins<10> = BEL
        "drs_dpram_dpram_gen[12].ramb16_s36_s36_inst.B" PINNAME CLKB;
PIN drs_dpram_dpram_gen[11].ramb16_s36_s36_inst.B_pins<10> = BEL
        "drs_dpram_dpram_gen[11].ramb16_s36_s36_inst.B" PINNAME CLKB;
PIN drs_dpram_dpram_gen[10].ramb16_s36_s36_inst.B_pins<10> = BEL
        "drs_dpram_dpram_gen[10].ramb16_s36_s36_inst.B" PINNAME CLKB;
PIN drs_dpram_dpram_gen[9].ramb16_s36_s36_inst.B_pins<10> = BEL
        "drs_dpram_dpram_gen[9].ramb16_s36_s36_inst.B" PINNAME CLKB;
PIN drs_dpram_dpram_gen[8].ramb16_s36_s36_inst.B_pins<10> = BEL
        "drs_dpram_dpram_gen[8].ramb16_s36_s36_inst.B" PINNAME CLKB;
PIN drs_dpram_dpram_gen[7].ramb16_s36_s36_inst.B_pins<10> = BEL
        "drs_dpram_dpram_gen[7].ramb16_s36_s36_inst.B" PINNAME CLKB;
PIN drs_dpram_dpram_gen[6].ramb16_s36_s36_inst.B_pins<10> = BEL
        "drs_dpram_dpram_gen[6].ramb16_s36_s36_inst.B" PINNAME CLKB;
PIN drs_dpram_dpram_gen[5].ramb16_s36_s36_inst.B_pins<10> = BEL
        "drs_dpram_dpram_gen[5].ramb16_s36_s36_inst.B" PINNAME CLKB;
PIN drs_dpram_dpram_gen[4].ramb16_s36_s36_inst.B_pins<10> = BEL
        "drs_dpram_dpram_gen[4].ramb16_s36_s36_inst.B" PINNAME CLKB;
PIN drs_dpram_dpram_gen[3].ramb16_s36_s36_inst.B_pins<10> = BEL
        "drs_dpram_dpram_gen[3].ramb16_s36_s36_inst.B" PINNAME CLKB;
PIN drs_dpram_dpram_gen[2].ramb16_s36_s36_inst.B_pins<10> = BEL
        "drs_dpram_dpram_gen[2].ramb16_s36_s36_inst.B" PINNAME CLKB;
PIN drs_dpram_dpram_gen[1].ramb16_s36_s36_inst.B_pins<10> = BEL
        "drs_dpram_dpram_gen[1].ramb16_s36_s36_inst.B" PINNAME CLKB;
PIN drs_dpram_dpram_gen[0].ramb16_s36_s36_inst.B_pins<10> = BEL
        "drs_dpram_dpram_gen[0].ramb16_s36_s36_inst.B" PINNAME CLKB;
TIMEGRP clocks_clk33_tmp = BEL "app_serdes_state_FSM_FFd2" BEL
        "app_serdes_state_FSM_FFd1" BEL "app_drs_readout_state_FSM_FFd5" BEL
        "app_drs_readout_state_FSM_FFd2" BEL "app_drs_readout_state_FSM_FFd16"
        BEL "app_drs_readout_state_FSM_FFd15" BEL
        "app_drs_readout_state_FSM_FFd14" BEL
        "app_drs_readout_state_FSM_FFd13" BEL
        "app_drs_readout_state_FSM_FFd12" BEL
        "app_drs_readout_state_FSM_FFd11" BEL
        "app_drs_readout_state_FSM_FFd10" BEL "app_drs_readout_state_FSM_FFd9"
        BEL "app_drs_readout_state_FSM_FFd8" BEL
        "app_drs_readout_state_FSM_FFd7" BEL "app_drs_readout_state_FSM_FFd6"
        BEL "app_drs_readout_state_FSM_FFd4" BEL
        "app_drs_readout_state_FSM_FFd3" BEL "app_drs_readout_state_FSM_FFd1"
        BEL "app_serial_bus_state_FSM_FFd2" BEL
        "app_serial_bus_state_FSM_FFd1" BEL "app_drs_1hz_counter_31" BEL
        "app_drs_1hz_counter_30" BEL "app_drs_1hz_counter_29" BEL
        "app_drs_1hz_counter_28" BEL "app_drs_1hz_counter_27" BEL
        "app_drs_1hz_counter_26" BEL "app_drs_1hz_counter_25" BEL
        "app_drs_1hz_counter_24" BEL "app_drs_1hz_counter_23" BEL
        "app_drs_1hz_counter_22" BEL "app_drs_1hz_counter_21" BEL
        "app_drs_1hz_counter_20" BEL "app_drs_1hz_counter_19" BEL
        "app_drs_1hz_counter_18" BEL "app_drs_1hz_counter_17" BEL
        "app_drs_1hz_counter_16" BEL "app_drs_1hz_counter_15" BEL
        "app_drs_1hz_counter_14" BEL "app_drs_1hz_counter_13" BEL
        "app_drs_1hz_counter_12" BEL "app_drs_1hz_counter_11" BEL
        "app_drs_1hz_counter_10" BEL "app_drs_1hz_counter_9" BEL
        "app_drs_1hz_counter_8" BEL "app_drs_1hz_counter_7" BEL
        "app_drs_1hz_counter_6" BEL "app_drs_1hz_counter_5" BEL
        "app_drs_1hz_counter_4" BEL "app_drs_1hz_counter_3" BEL
        "app_drs_1hz_counter_2" BEL "app_drs_1hz_counter_1" BEL
        "app_drs_1hz_counter_0" BEL "app_drs_dpram_addr_31" BEL
        "app_drs_dpram_addr_30" BEL "app_drs_dpram_addr_29" BEL
        "app_drs_dpram_addr_28" BEL "app_drs_dpram_addr_27" BEL
        "app_drs_dpram_addr_26" BEL "app_drs_dpram_addr_25" BEL
        "app_drs_dpram_addr_24" BEL "app_drs_dpram_addr_23" BEL
        "app_drs_dpram_addr_22" BEL "app_drs_dpram_addr_21" BEL
        "app_drs_dpram_addr_20" BEL "app_drs_dpram_addr_19" BEL
        "app_drs_dpram_addr_18" BEL "app_drs_dpram_addr_17" BEL
        "app_drs_dpram_addr_16" BEL "app_drs_dpram_addr_15" BEL
        "app_drs_dpram_addr_14" BEL "app_drs_dpram_addr_13" BEL
        "app_drs_dpram_addr_12" BEL "app_drs_dpram_addr_11" BEL
        "app_drs_dpram_addr_10" BEL "app_drs_dpram_addr_9" BEL
        "app_drs_dpram_addr_8" BEL "app_drs_dpram_addr_7" BEL
        "app_drs_dpram_addr_6" BEL "app_drs_dpram_addr_5" BEL
        "app_drs_dpram_addr_4" BEL "app_drs_dpram_addr_3" BEL
        "app_drs_dpram_addr_2" BEL "app_temp_timer_25" BEL "app_temp_timer_24"
        BEL "app_temp_timer_23" BEL "app_temp_timer_22" BEL
        "app_temp_timer_21" BEL "app_temp_timer_20" BEL "app_temp_timer_19"
        BEL "app_temp_timer_18" BEL "app_temp_timer_17" BEL
        "app_temp_timer_16" BEL "app_temp_timer_15" BEL "app_temp_timer_14"
        BEL "app_temp_timer_13" BEL "app_temp_timer_12" BEL
        "app_temp_timer_11" BEL "app_temp_timer_10" BEL "app_temp_timer_9" BEL
        "app_temp_timer_8" BEL "app_temp_timer_7" BEL "app_temp_timer_6" BEL
        "app_temp_timer_5" BEL "app_temp_timer_4" BEL "app_temp_timer_3" BEL
        "app_temp_timer_2" BEL "app_temp_timer_1" BEL "app_temp_timer_0" BEL
        "app_drs_led_state_FSM_FFd2" BEL "app_o_drs_on" BEL
        "app_drs_dpram_reset1" BEL "app_drs_trigger_syn" BEL
        "app_drs_dpram_d_wr2_21" BEL "app_drs_dpram_d_wr2_16" BEL
        "app_drs_dpram_d_wr2_15" BEL "app_drs_dpram_d_wr2_20" BEL
        "app_drs_dpram_d_wr2_14" BEL "app_drs_dpram_d_wr2_13" BEL
        "app_drs_dpram_d_wr2_12" BEL "app_drs_dpram_d_wr2_11" BEL
        "app_drs_dpram_d_wr2_10" BEL "app_drs_temperature_15" BEL
        "app_drs_temperature_14" BEL "app_drs_temperature_13" BEL
        "app_drs_temperature_12" BEL "app_drs_temperature_11" BEL
        "app_drs_temperature_10" BEL "app_drs_temperature_9" BEL
        "app_drs_temperature_8" BEL "app_drs_temperature_7" BEL
        "app_drs_temperature_6" BEL "app_drs_temperature_5" BEL
        "app_drs_temperature_4" BEL "app_drs_temperature_3" BEL
        "app_drs_temperature_2" BEL "app_drs_temperature_1" BEL
        "app_drs_temperature_0" BEL "app_drs_serial_number_9" BEL
        "app_drs_serial_number_8" BEL "app_drs_serial_number_7" BEL
        "app_drs_serial_number_15" BEL "app_drs_serial_number_14" BEL
        "app_drs_serial_number_5" BEL "app_drs_serial_number_6" BEL
        "app_drs_serial_number_13" BEL "app_drs_serial_number_4" BEL
        "app_drs_serial_number_12" BEL "app_drs_serial_number_3" BEL
        "app_drs_serial_number_11" BEL "app_drs_serial_number_2" BEL
        "app_drs_serial_number_10" BEL "app_drs_serial_number_1" BEL
        "app_drs_dpram_d_wr2_9" BEL "app_drs_serial_number_0" BEL
        "app_drs_dpram_d_wr2_8" BEL "app_drs_dpram_d_wr2_7" BEL
        "app_drs_dpram_d_wr2_6" BEL "app_drs_dpram_d_wr2_5" BEL
        "app_drs_dpram_d_wr2_4" BEL "app_drs_dpram_d_wr2_3" BEL
        "app_drs_dpram_d_wr2_2" BEL "app_drs_dpram_d_wr2_1" BEL
        "app_drs_dpram_d_wr2_0" BEL "app_drs_dpram_d_wr2_29" BEL
        "app_drs_dpram_d_wr2_28" BEL "app_drs_dpram_d_wr2_27" BEL
        "app_drs_dpram_d_wr2_26" BEL "app_drs_dpram_d_wr2_31" BEL
        "app_drs_dpram_d_wr2_25" BEL "app_drs_dpram_d_wr2_30" BEL
        "app_drs_dpram_d_wr2_19" BEL "app_drs_dpram_d_wr2_24" BEL
        "app_drs_dpram_d_wr2_23" BEL "app_drs_dpram_d_wr2_18" BEL
        "app_drs_dpram_d_wr2_17" BEL "app_drs_dpram_d_wr2_22" BEL
        "app_temp_15" BEL "app_temp_14" BEL "app_temp_13" BEL "app_temp_12"
        BEL "app_temp_11" BEL "app_temp_10" BEL "app_temp_9" BEL "app_temp_8"
        BEL "app_temp_7" BEL "app_temp_6" BEL "app_temp_5" BEL "app_temp_4"
        BEL "app_temp_3" BEL "app_temp_2" BEL "app_temp_1" BEL "app_temp_0"
        BEL "app_serdes_rdata_29" BEL "app_serdes_rdata_28" BEL
        "app_serdes_rdata_27" BEL "app_serdes_rdata_26" BEL
        "app_serdes_rdata_31" BEL "app_serdes_rdata_25" BEL
        "app_serdes_rdata_30" BEL "app_serdes_rdata_19" BEL
        "app_serdes_rdata_18" BEL "app_serdes_rdata_23" BEL
        "app_serdes_rdata_24" BEL "app_serdes_rdata_17" BEL
        "app_serdes_rdata_22" BEL "app_serdes_rdata_16" BEL
        "app_serdes_rdata_21" BEL "app_serdes_rdata_9" BEL
        "app_serdes_rdata_15" BEL "app_serdes_rdata_20" BEL
        "app_serdes_rdata_8" BEL "app_serdes_rdata_14" BEL
        "app_serdes_rdata_7" BEL "app_serdes_rdata_13" BEL
        "app_serdes_rdata_6" BEL "app_serdes_rdata_12" BEL
        "app_serdes_rdata_5" BEL "app_serdes_rdata_11" BEL
        "app_serdes_rdata_4" BEL "app_serdes_rdata_10" BEL
        "app_serdes_rdata_3" BEL "app_serdes_rdata_2" BEL "app_serdes_rdata_1"
        BEL "app_serdes_rdata_0" BEL "app_o_drs_tempsens_cs_n" BEL
        "app_o_drs_dac_cs_n" BEL "app_drs_dpram_inc" BEL
        "app_drs_stat_stop_wsr" BEL "app_drs_1hz_clock" BEL
        "app_scaler_ff_reset_0" BEL "app_drs_stat_stop_cell_9" BEL
        "app_drs_stat_stop_cell_8" BEL "app_drs_stat_stop_cell_7" BEL
        "app_drs_stat_stop_cell_6" BEL "app_drs_stat_stop_cell_5" BEL
        "app_drs_stat_stop_cell_4" BEL "app_drs_stat_stop_cell_3" BEL
        "app_drs_stat_stop_cell_2" BEL "app_drs_stat_stop_cell_1" BEL
        "app_drs_stat_stop_cell_0" BEL "app_drs_reinit_request" BEL
        "app_drs_addr_3" BEL "app_drs_addr_2" BEL "app_drs_addr_1" BEL
        "app_drs_addr_0" BEL "app_serial_start_flag2" BEL
        "app_serial_start_flag1" BEL "app_o_drs_enable" BEL
        "app_drs_rd_tmp_count_31" BEL "app_drs_rd_tmp_count_30" BEL
        "app_drs_rd_tmp_count_29" BEL "app_drs_rd_tmp_count_28" BEL
        "app_drs_rd_tmp_count_27" BEL "app_drs_rd_tmp_count_26" BEL
        "app_drs_rd_tmp_count_25" BEL "app_drs_rd_tmp_count_24" BEL
        "app_drs_rd_tmp_count_23" BEL "app_drs_rd_tmp_count_22" BEL
        "app_drs_rd_tmp_count_21" BEL "app_drs_rd_tmp_count_20" BEL
        "app_drs_rd_tmp_count_19" BEL "app_drs_rd_tmp_count_18" BEL
        "app_drs_rd_tmp_count_17" BEL "app_drs_rd_tmp_count_16" BEL
        "app_drs_rd_tmp_count_15" BEL "app_drs_rd_tmp_count_14" BEL
        "app_drs_rd_tmp_count_13" BEL "app_drs_rd_tmp_count_12" BEL
        "app_drs_rd_tmp_count_11" BEL "app_drs_rd_tmp_count_10" BEL
        "app_drs_rd_tmp_count_9" BEL "app_drs_rd_tmp_count_8" BEL
        "app_drs_rd_tmp_count_7" BEL "app_drs_rd_tmp_count_6" BEL
        "app_drs_rd_tmp_count_5" BEL "app_drs_rd_tmp_count_4" BEL
        "app_drs_rd_tmp_count_3" BEL "app_drs_rd_tmp_count_2" BEL
        "app_drs_rd_tmp_count_1" BEL "app_drs_rd_tmp_count_0" BEL
        "app_o_drs_serial_clk" BEL "app_o_drs_adc_clk" BEL
        "app_serdes_count_6" BEL "app_serdes_count_5" BEL "app_serdes_count_4"
        BEL "app_serdes_count_3" BEL "app_serdes_count_2" BEL
        "app_serdes_count_1" BEL "app_serdes_count_0" BEL
        "app_drs_old_readout_mode" BEL "app_o_drs_rsrload" BEL
        "app_drs_write_set" BEL "app_drs_led_green" BEL
        "app_drs_sample_count_10" BEL "app_drs_sample_count_9" BEL
        "app_drs_sample_count_8" BEL "app_drs_sample_count_7" BEL
        "app_drs_sample_count_6" BEL "app_drs_sample_count_5" BEL
        "app_drs_sample_count_4" BEL "app_drs_sample_count_3" BEL
        "app_drs_sample_count_2" BEL "app_drs_sample_count_1" BEL
        "app_drs_sample_count_0" BEL "app_serdes_wdata_9" BEL
        "app_serdes_wdata_8" BEL "app_serdes_wdata_7" BEL "app_drs_soft_trig"
        BEL "app_o_drs_srclk" BEL "app_scaler_reset_5" BEL
        "app_serdes_wdata_6" BEL "app_serdes_wdata_5" BEL
        "app_drs_led_counter_9" BEL "app_scaler_reset_4" BEL "app_serdes_trig"
        BEL "app_drs_eeprom_write_trig" BEL "app_serdes_wdata_4" BEL
        "app_drs_led_counter_8" BEL "app_serdes_wdata_3" BEL
        "app_drs_led_counter_7" BEL "app_scaler_reset_3" BEL
        "app_scaler_reset_2" BEL "app_serdes_wdata_2" BEL
        "app_drs_led_counter_6" BEL "app_scaler_reset_1" BEL
        "app_serdes_wdata_1" BEL "app_drs_led_counter_5" BEL
        "app_scaler_reset_0" BEL "app_drs_dpram_reset2" BEL
        "app_serdes_wdata_0" BEL "app_drs_led_counter_3" BEL
        "app_drs_led_counter_2" BEL "app_drs_led_counter_4" BEL
        "app_o_drs_serial_data" BEL "app_drs_led_counter_1" BEL
        "app_drs_led_counter_0" BEL "app_drs_stop_cell_9" BEL
        "app_drs_stop_cell_8" BEL "app_drs_stop_cell_7" BEL
        "app_serdes_wdata_27" BEL "app_drs_stop_cell_6" BEL
        "app_serdes_bit_no_5" BEL "app_serdes_bit_no_4" BEL
        "app_serdes_bit_no_3" BEL "app_serdes_bit_no_2" BEL
        "app_serdes_bit_no_1" BEL "app_serdes_bit_no_0" BEL
        "app_drs_stop_cell_5" BEL "app_drs_stop_cell_4" BEL
        "app_serdes_wdata_24" BEL "app_serdes_wdata_25" BEL
        "app_serdes_wdata_19" BEL "app_drs_stop_cell_3" BEL
        "app_serdes_wdata_23" BEL "app_serdes_wdata_18" BEL
        "app_drs_eeprom_page_7" BEL "app_drs_eeprom_page_6" BEL
        "app_drs_eeprom_page_5" BEL "app_drs_eeprom_page_4" BEL
        "app_drs_eeprom_page_3" BEL "app_drs_eeprom_page_2" BEL
        "app_drs_eeprom_page_1" BEL "app_drs_eeprom_page_0" BEL
        "app_serdes_wdata_22" BEL "app_serdes_wdata_17" BEL
        "app_drs_stop_cell_2" BEL "app_drs_stop_cell_1" BEL
        "app_serdes_wdata_21" BEL "app_serdes_wdata_16" BEL
        "app_drs_stop_cell_0" BEL "app_serdes_trig_temp" BEL
        "app_serdes_wdata_20" BEL "app_serdes_wdata_14" BEL
        "app_serdes_wdata_15" BEL "app_serdes_wdata_13" BEL
        "app_serdes_wdata_12" BEL "app_serdes_wdata_10" BEL "app_o_drs_srin"
        BEL "app_serdes_wdata_11" BEL "app_serdes_bit_count_m1_4" BEL
        "app_serdes_bit_count_m1_3" BEL "app_serdes_bit_count_m1_2" BEL
        "app_serdes_bit_count_m1_1" BEL "app_serdes_bit_count_m1_0" BEL
        "app_drs_dpram_we1" BEL "app_drs_eeprom_sector_7" BEL
        "app_drs_eeprom_sector_6" BEL "app_drs_eeprom_sector_5" BEL
        "app_drs_eeprom_sector_4" BEL "app_drs_eeprom_sector_3" BEL
        "app_drs_eeprom_sector_2" BEL "app_drs_eeprom_sector_1" BEL
        "app_drs_eeprom_sector_0" BEL "app_drs_dpram_we2" BEL
        "app_drs_trig_ff_reset" BEL "app_drs_eeprom_read_trig" BEL
        "app_drs_led_counter_19" BEL "app_drs_led_counter_18" BEL
        "app_drs_led_counter_17" BEL "app_drs_led_counter_16" BEL
        "app_drs_led_counter_15" BEL "app_drs_led_counter_14" BEL
        "app_drs_led_counter_20" BEL "app_drs_stop_wsr_0" BEL
        "app_drs_led_counter_12" BEL "app_drs_led_counter_13" BEL
        "app_drs_led_counter_11" BEL "app_drs_stat_busy" BEL
        "app_serial_ret_addr_5" BEL "app_serial_ret_addr_4" BEL
        "app_serial_ret_addr_3" BEL "app_serial_ret_addr_2" BEL
        "app_serial_ret_addr_1" BEL "app_serial_ret_addr_0" BEL
        "app_drs_led_counter_10" BEL "app_drs_start_timer_7" BEL
        "app_drs_start_timer_6" BEL "app_drs_start_timer_5" BEL
        "app_drs_start_timer_4" BEL "app_drs_start_timer_3" BEL
        "app_drs_start_timer_2" BEL "app_drs_start_timer_1" BEL
        "app_drs_start_timer_0" BEL "app_drs_sr_count_10" BEL
        "app_drs_sr_count_9" BEL "app_drs_sr_count_8" BEL "app_drs_sr_count_7"
        BEL "app_drs_sr_count_6" BEL "app_drs_sr_count_5" BEL
        "app_drs_sr_count_4" BEL "app_drs_sr_count_3" BEL "app_drs_sr_count_2"
        BEL "app_drs_sr_count_1" BEL "app_drs_sr_count_0" BEL
        "app_drs_dpram_d_wr1_29" BEL "app_drs_dpram_d_wr1_28" BEL
        "app_drs_dpram_d_wr1_27" BEL "app_drs_dpram_d_wr1_31" BEL
        "app_drs_eeprom_byte_7" BEL "app_drs_eeprom_byte_6" BEL
        "app_drs_eeprom_byte_5" BEL "app_drs_eeprom_byte_4" BEL
        "app_drs_eeprom_byte_3" BEL "app_drs_eeprom_byte_2" BEL
        "app_drs_eeprom_byte_1" BEL "app_drs_eeprom_byte_0" BEL
        "app_drs_dpram_d_wr1_26" BEL "app_drs_dpram_d_wr1_25" BEL
        "app_drs_dpram_d_wr1_30" BEL "app_drs_dpram_d_wr1_24" BEL
        "app_drs_dpram_d_wr1_19" BEL "app_drs_dpram_d_wr1_23" BEL
        "app_o_drs_eeprom_cs_n" BEL "app_drs_dpram_d_wr1_18" BEL
        "app_drs_dpram_d_wr1_22" BEL "app_drs_dpram_d_wr1_16" BEL
        "app_drs_dpram_d_wr1_21" BEL "app_drs_dpram_d_wr1_15" BEL
        "app_drs_dpram_d_wr1_20" BEL "app_drs_dpram_d_wr1_14" BEL
        "app_drs_dpram_d_wr1_13" BEL "app_drs_dac_newval_flag_7" BEL
        "app_drs_dac_newval_flag_6" BEL "app_drs_dpram_d_wr1_12" BEL
        "app_drs_dac_newval_flag_5" BEL "app_drs_dac_reg_7_15" BEL
        "app_drs_dac_reg_7_14" BEL "app_drs_dac_reg_7_13" BEL
        "app_drs_dac_reg_7_12" BEL "app_drs_dac_reg_7_11" BEL
        "app_drs_dac_reg_7_10" BEL "app_drs_dac_reg_7_9" BEL
        "app_drs_dac_reg_7_8" BEL "app_drs_dac_reg_7_7" BEL
        "app_drs_dac_reg_7_6" BEL "app_drs_dac_reg_7_5" BEL
        "app_drs_dac_reg_7_4" BEL "app_drs_dac_reg_7_3" BEL
        "app_drs_dac_reg_7_2" BEL "app_drs_dac_reg_7_1" BEL
        "app_drs_dac_reg_7_0" BEL "app_o_drs_addr_3" BEL "app_o_drs_addr_2"
        BEL "app_o_drs_addr_1" BEL "app_o_drs_addr_0" BEL
        "app_drs_dpram_d_wr1_11" BEL "app_drs_dac_newval_flag_4" BEL
        "app_drs_dpram_d_wr1_10" BEL "app_drs_dac_reg_6_15" BEL
        "app_drs_dac_reg_6_14" BEL "app_drs_dac_reg_6_13" BEL
        "app_drs_dac_reg_6_12" BEL "app_drs_dac_reg_6_11" BEL
        "app_drs_dac_reg_6_10" BEL "app_drs_dac_reg_6_9" BEL
        "app_drs_dac_reg_6_8" BEL "app_drs_dac_reg_6_7" BEL
        "app_drs_dac_reg_6_6" BEL "app_drs_dac_reg_6_5" BEL
        "app_drs_dac_reg_6_4" BEL "app_drs_dac_reg_6_3" BEL
        "app_drs_dac_reg_6_2" BEL "app_drs_dac_reg_6_1" BEL
        "app_drs_dac_reg_6_0" BEL "app_drs_dac_reg_5_15" BEL
        "app_drs_dac_reg_5_14" BEL "app_drs_dac_reg_5_13" BEL
        "app_drs_dac_reg_5_12" BEL "app_drs_dac_reg_5_11" BEL
        "app_drs_dac_reg_5_10" BEL "app_drs_dac_reg_5_9" BEL
        "app_drs_dac_reg_5_8" BEL "app_drs_dac_reg_5_7" BEL
        "app_drs_dac_reg_5_6" BEL "app_drs_dac_reg_5_5" BEL
        "app_drs_dac_reg_5_4" BEL "app_drs_dac_reg_5_3" BEL
        "app_drs_dac_reg_5_2" BEL "app_drs_dac_reg_5_1" BEL
        "app_drs_dac_reg_5_0" BEL "app_drs_dac_newval_flag_3" BEL
        "app_drs_dac_reg_4_15" BEL "app_drs_dac_reg_4_14" BEL
        "app_drs_dac_reg_4_13" BEL "app_drs_dac_reg_4_12" BEL
        "app_drs_dac_reg_4_11" BEL "app_drs_dac_reg_4_10" BEL
        "app_drs_dac_reg_4_9" BEL "app_drs_dac_reg_4_8" BEL
        "app_drs_dac_reg_4_7" BEL "app_drs_dac_reg_4_6" BEL
        "app_drs_dac_reg_4_5" BEL "app_drs_dac_reg_4_4" BEL
        "app_drs_dac_reg_4_3" BEL "app_drs_dac_reg_4_2" BEL
        "app_drs_dac_reg_4_1" BEL "app_drs_dac_reg_4_0" BEL
        "app_drs_dac_newval_flag_2" BEL "app_drs_dac_reg_3_15" BEL
        "app_drs_dac_reg_3_14" BEL "app_drs_dac_reg_3_13" BEL
        "app_drs_dac_reg_3_12" BEL "app_drs_dac_reg_3_11" BEL
        "app_drs_dac_reg_3_10" BEL "app_drs_dac_reg_3_9" BEL
        "app_drs_dac_reg_3_8" BEL "app_drs_dac_reg_3_7" BEL
        "app_drs_dac_reg_3_6" BEL "app_drs_dac_reg_3_5" BEL
        "app_drs_dac_reg_3_4" BEL "app_drs_dac_reg_3_3" BEL
        "app_drs_dac_reg_3_2" BEL "app_drs_dac_reg_3_1" BEL
        "app_drs_dac_reg_3_0" BEL "app_serdes_clk_3" BEL "app_serdes_clk_2"
        BEL "app_serdes_clk_1" BEL "app_serdes_clk_0" BEL
        "app_drs_dac_reg_2_15" BEL "app_drs_dac_reg_2_14" BEL
        "app_drs_dac_reg_2_13" BEL "app_drs_dac_reg_2_12" BEL
        "app_drs_dac_reg_2_11" BEL "app_drs_dac_reg_2_10" BEL
        "app_drs_dac_reg_2_9" BEL "app_drs_dac_reg_2_8" BEL
        "app_drs_dac_reg_2_7" BEL "app_drs_dac_reg_2_6" BEL
        "app_drs_dac_reg_2_5" BEL "app_drs_dac_reg_2_4" BEL
        "app_drs_dac_reg_2_3" BEL "app_drs_dac_reg_2_2" BEL
        "app_drs_dac_reg_2_1" BEL "app_drs_dac_reg_2_0" BEL
        "app_drs_dac_reg_1_15" BEL "app_drs_dac_reg_1_14" BEL
        "app_drs_dac_reg_1_13" BEL "app_drs_dac_reg_1_12" BEL
        "app_drs_dac_reg_1_11" BEL "app_drs_dac_reg_1_10" BEL
        "app_drs_dac_reg_1_9" BEL "app_drs_dac_reg_1_8" BEL
        "app_drs_dac_reg_1_7" BEL "app_drs_dac_reg_1_6" BEL
        "app_drs_dac_reg_1_5" BEL "app_drs_dac_reg_1_4" BEL
        "app_drs_dac_reg_1_3" BEL "app_drs_dac_reg_1_2" BEL
        "app_drs_dac_reg_1_1" BEL "app_drs_dac_reg_1_0" BEL
        "app_drs_dac_newval_flag_1" BEL "app_drs_dac_newval_flag_0" BEL
        "app_drs_dac_reg_0_15" BEL "app_drs_dac_reg_0_14" BEL
        "app_drs_dac_reg_0_13" BEL "app_drs_dac_reg_0_12" BEL
        "app_drs_dac_reg_0_11" BEL "app_drs_dac_reg_0_10" BEL
        "app_drs_dac_reg_0_9" BEL "app_drs_dac_reg_0_8" BEL
        "app_drs_dac_reg_0_7" BEL "app_drs_dac_reg_0_6" BEL
        "app_drs_dac_reg_0_5" BEL "app_drs_dac_reg_0_4" BEL
        "app_drs_dac_reg_0_3" BEL "app_drs_dac_reg_0_2" BEL
        "app_drs_dac_reg_0_1" BEL "app_drs_dac_reg_0_0" BEL
        "app_drs_eeprom_busy" BEL "app_drs_sr_reg_6" BEL "app_drs_sr_reg_7"
        BEL "app_drs_sr_reg_5" BEL "app_drs_sr_reg_4" BEL "app_drs_sr_reg_2"
        BEL "app_drs_sr_reg_1" BEL "app_drs_sr_reg_3" BEL "app_serial_count_7"
        BEL "app_serial_count_6" BEL "app_serial_count_5" BEL
        "app_serial_count_4" BEL "app_serial_count_3" BEL "app_serial_count_2"
        BEL "app_serial_count_1" BEL "app_serial_count_0" BEL
        "app_drs_sr_reg_0" BEL "app_drs_dpram_d_wr1_9" BEL
        "app_drs_dpram_d_wr1_7" BEL "app_drs_dpram_d_wr1_8" BEL
        "app_drs_dpram_d_wr1_6" BEL "app_drs_dpram_d_wr1_5" BEL
        "app_drs_dpram_d_wr1_4" BEL "app_drs_dpram_d_wr1_3" BEL
        "app_drs_dpram_d_wr1_2" BEL "app_drs_dpram_d_wr1_1" BEL
        "app_drs_dpram_d_wr1_0" BEL "usb2_racc_interface_uc_state_FSM_FFd11"
        BEL "usb2_racc_interface_uc_state_FSM_FFd12" BEL
        "usb2_racc_interface_uc_state_FSM_FFd13" BEL
        "usb2_racc_interface_uc_state_FSM_FFd14" BEL
        "usb2_racc_interface_uc_state_FSM_FFd15" BEL
        "usb2_racc_interface_uc_state_FSM_FFd4" BEL
        "usb2_racc_interface_uc_state_FSM_FFd1" BEL
        "usb2_racc_interface_uc_state_FSM_FFd16" BEL
        "usb2_racc_interface_uc_state_FSM_FFd5" BEL
        "usb2_racc_interface_uc_state_FSM_FFd2" BEL
        "usb2_racc_interface_uc_state_FSM_FFd18" BEL
        "usb2_racc_interface_uc_state_FSM_FFd17" BEL
        "usb2_racc_interface_uc_state_FSM_FFd10" BEL
        "usb2_racc_interface_uc_state_FSM_FFd9" BEL
        "usb2_racc_interface_uc_state_FSM_FFd8" BEL
        "usb2_racc_interface_uc_state_FSM_FFd7" BEL
        "usb2_racc_interface_uc_state_FSM_FFd6" BEL
        "usb2_racc_interface_uc_state_FSM_FFd3" BEL
        "usb2_racc_interface_control_reg_arr(14)_2" BEL
        "usb2_racc_interface_control_reg_arr(14)_1" BEL
        "usb2_racc_interface_control_reg_arr(14)_3" BEL
        "usb2_racc_interface_control_reg_arr(14)_0" BEL
        "usb2_racc_interface_control_reg_arr(5)_9" BEL
        "usb2_racc_interface_control_reg_arr(5)_7" BEL
        "usb2_racc_interface_control_reg_arr(5)_6" BEL
        "usb2_racc_interface_control_reg_arr(5)_8" BEL
        "usb2_racc_interface_control_reg_arr(5)_4" BEL
        "usb2_racc_interface_control_reg_arr(5)_3" BEL
        "usb2_racc_interface_control_reg_arr(5)_5" BEL
        "usb2_racc_interface_control_reg_arr(0)_9" BEL
        "usb2_racc_interface_control_reg_arr(5)_1" BEL
        "usb2_racc_interface_control_reg_arr(5)_2" BEL
        "usb2_racc_interface_control_reg_arr(0)_8" BEL
        "usb2_racc_interface_control_reg_arr(5)_0" BEL
        "usb2_racc_interface_control_reg_arr(0)_7" BEL
        "usb2_racc_interface_control_reg_arr(0)_6" BEL
        "usb2_racc_interface_control_reg_arr(0)_5" BEL
        "usb2_racc_interface_control_reg_arr(0)_4" BEL
        "usb2_racc_interface_control_reg_arr(0)_3" BEL
        "usb2_racc_interface_control_reg_arr(0)_2" BEL
        "usb2_racc_interface_control_reg_arr(0)_1" BEL
        "usb2_racc_interface_control_reg_arr(0)_0" BEL
        "usb2_racc_interface_control_reg_arr(8)_29" BEL
        "usb2_racc_interface_control_reg_arr(8)_28" BEL
        "usb2_racc_interface_control_reg_arr(8)_27" BEL
        "usb2_racc_interface_control_reg_arr(8)_26" BEL
        "usb2_racc_interface_control_reg_arr(8)_31" BEL
        "usb2_racc_interface_control_reg_arr(8)_25" BEL
        "usb2_racc_interface_control_reg_arr(8)_30" BEL
        "usb2_racc_interface_control_reg_arr(8)_24" BEL
        "usb2_racc_interface_control_reg_arr(8)_19" BEL
        "usb2_racc_interface_control_reg_arr(11)_9" BEL
        "usb2_racc_interface_control_reg_arr(8)_23" BEL
        "usb2_racc_interface_control_reg_arr(8)_18" BEL
        "usb2_racc_interface_control_reg_arr(8)_22" BEL
        "usb2_racc_interface_control_reg_arr(8)_17" BEL
        "usb2_racc_interface_control_reg_arr(11)_8" BEL
        "usb2_racc_interface_control_reg_arr(11)_7" BEL
        "usb2_racc_interface_control_reg_arr(7)_29" BEL
        "usb2_racc_interface_control_reg_arr(8)_16" BEL
        "usb2_racc_interface_control_reg_arr(8)_21" BEL
        "usb2_racc_interface_control_reg_arr(7)_28" BEL
        "usb2_racc_interface_control_reg_arr(8)_20" BEL
        "usb2_racc_interface_control_reg_arr(11)_6" BEL
        "usb2_racc_interface_control_reg_arr(11)_5" BEL
        "usb2_racc_interface_control_reg_arr(7)_27" BEL
        "usb2_racc_interface_control_reg_arr(8)_15" BEL
        "usb2_racc_interface_control_reg_arr(8)_14" BEL
        "usb2_racc_interface_control_reg_arr(11)_4" BEL
        "usb2_racc_interface_control_reg_arr(7)_31" BEL
        "usb2_racc_interface_control_reg_arr(8)_13" BEL
        "usb2_racc_interface_control_reg_arr(7)_26" BEL
        "usb2_racc_interface_control_reg_arr(7)_25" BEL
        "usb2_racc_interface_control_reg_arr(7)_30" BEL
        "usb2_racc_interface_control_reg_arr(11)_3" BEL
        "usb2_racc_interface_control_reg_arr(11)_2" BEL
        "usb2_racc_interface_control_reg_arr(7)_19" BEL
        "usb2_racc_interface_control_reg_arr(8)_12" BEL
        "usb2_racc_interface_control_reg_arr(7)_24" BEL
        "usb2_racc_interface_control_reg_arr(8)_11" BEL
        "usb2_racc_interface_control_reg_arr(7)_18" BEL
        "usb2_racc_interface_control_reg_arr(11)_1" BEL
        "usb2_racc_interface_control_reg_arr(8)_10" BEL
        "usb2_racc_interface_control_reg_arr(11)_0" BEL
        "usb2_racc_interface_control_reg_arr(7)_23" BEL
        "usb2_racc_interface_control_reg_arr(7)_22" BEL
        "usb2_racc_interface_control_reg_arr(7)_17" BEL
        "usb2_racc_interface_control_reg_arr(6)_29" BEL
        "usb2_racc_interface_control_reg_arr(7)_16" BEL
        "usb2_racc_interface_control_reg_arr(6)_28" BEL
        "usb2_racc_interface_control_reg_arr(7)_15" BEL
        "usb2_racc_interface_control_reg_arr(7)_21" BEL
        "usb2_racc_interface_control_reg_arr(7)_9" BEL
        "usb2_racc_interface_control_reg_arr(6)_27" BEL
        "usb2_racc_interface_control_reg_arr(7)_20" BEL
        "usb2_racc_interface_control_reg_arr(7)_8" BEL
        "usb2_racc_interface_control_reg_arr(6)_31" BEL
        "usb2_racc_interface_control_reg_arr(7)_14" BEL
        "usb2_racc_interface_control_reg_arr(6)_26" BEL
        "usb2_racc_interface_control_reg_arr(7)_13" BEL
        "usb2_racc_interface_control_reg_arr(6)_30" BEL
        "usb2_racc_interface_control_reg_arr(6)_25" BEL
        "usb2_racc_interface_control_reg_arr(7)_7" BEL
        "usb2_racc_interface_control_reg_arr(7)_6" BEL
        "usb2_racc_interface_control_reg_arr(6)_24" BEL
        "usb2_racc_interface_control_reg_arr(7)_12" BEL
        "usb2_racc_interface_control_reg_arr(7)_11" BEL
        "usb2_racc_interface_control_reg_arr(7)_5" BEL
        "usb2_racc_interface_control_reg_arr(6)_19" BEL
        "usb2_racc_interface_control_reg_arr(6)_23" BEL
        "usb2_racc_interface_control_reg_arr(6)_18" BEL
        "usb2_racc_interface_control_reg_arr(7)_4" BEL
        "usb2_racc_interface_control_reg_arr(6)_22" BEL
        "usb2_racc_interface_control_reg_arr(7)_10" BEL
        "usb2_racc_interface_control_reg_arr(7)_3" BEL
        "usb2_racc_interface_control_reg_arr(5)_29" BEL
        "usb2_racc_interface_control_reg_arr(6)_17" BEL
        "usb2_racc_interface_control_reg_arr(6)_16" BEL
        "usb2_racc_interface_control_reg_arr(7)_2" BEL
        "usb2_racc_interface_control_reg_arr(6)_21" BEL
        "usb2_racc_interface_control_reg_arr(5)_28" BEL
        "usb2_racc_interface_control_reg_arr(6)_20" BEL
        "usb2_racc_interface_control_reg_arr(2)_9" BEL
        "usb2_racc_interface_control_reg_arr(7)_1" BEL
        "usb2_racc_interface_control_reg_arr(6)_15" BEL
        "usb2_racc_interface_control_reg_arr(6)_14" BEL
        "usb2_racc_interface_control_reg_arr(2)_8" BEL
        "usb2_racc_interface_control_reg_arr(5)_27" BEL
        "usb2_racc_interface_control_reg_arr(5)_31" BEL
        "usb2_racc_interface_control_reg_arr(5)_26" BEL
        "usb2_racc_interface_control_reg_arr(7)_0" BEL
        "usb2_racc_interface_control_reg_arr(6)_13" BEL
        "usb2_racc_interface_control_reg_arr(2)_7" BEL
        "usb2_racc_interface_control_reg_arr(5)_25" BEL
        "usb2_racc_interface_control_reg_arr(6)_12" BEL
        "usb2_racc_interface_control_reg_arr(5)_30" BEL
        "usb2_racc_interface_control_reg_arr(2)_6" BEL
        "usb2_racc_interface_control_reg_arr(5)_19" BEL
        "usb2_racc_interface_control_reg_arr(6)_11" BEL
        "usb2_racc_interface_control_reg_arr(2)_5" BEL
        "usb2_racc_interface_control_reg_arr(5)_24" BEL
        "usb2_racc_interface_control_reg_arr(5)_18" BEL
        "usb2_racc_interface_control_reg_arr(5)_23" BEL
        "usb2_racc_interface_control_reg_arr(2)_4" BEL
        "usb2_racc_interface_control_reg_arr(5)_17" BEL
        "usb2_racc_interface_control_reg_arr(6)_10" BEL
        "usb2_racc_interface_control_reg_arr(2)_3" BEL
        "usb2_racc_interface_control_reg_arr(5)_22" BEL
        "usb2_racc_interface_control_reg_arr(5)_16" BEL
        "usb2_racc_interface_control_reg_arr(5)_21" BEL
        "usb2_racc_interface_control_reg_arr(4)_29" BEL
        "usb2_racc_interface_control_reg_arr(2)_2" BEL
        "usb2_racc_interface_control_reg_arr(5)_20" BEL
        "usb2_racc_interface_control_reg_arr(5)_15" BEL
        "usb2_racc_interface_control_reg_arr(4)_28" BEL
        "usb2_racc_interface_control_reg_arr(2)_1" BEL
        "usb2_racc_interface_control_reg_arr(4)_27" BEL
        "usb2_racc_interface_control_reg_arr(2)_0" BEL
        "usb2_racc_interface_control_reg_arr(5)_14" BEL
        "usb2_racc_interface_control_reg_arr(4)_31" BEL
        "usb2_racc_interface_control_reg_arr(5)_13" BEL
        "usb2_racc_interface_control_reg_arr(4)_26" BEL
        "usb2_racc_interface_control_reg_arr(4)_25" BEL
        "usb2_racc_interface_control_reg_arr(5)_12" BEL
        "usb2_racc_interface_control_reg_arr(4)_30" BEL
        "usb2_racc_interface_control_reg_arr(4)_19" BEL
        "usb2_racc_interface_control_reg_arr(5)_11" BEL
        "usb2_racc_interface_control_reg_arr(4)_24" BEL
        "usb2_racc_interface_control_reg_arr(4)_18" BEL
        "usb2_racc_interface_control_reg_arr(4)_23" BEL
        "usb2_racc_interface_control_reg_arr(5)_10" BEL
        "usb2_racc_interface_control_reg_arr(4)_17" BEL
        "usb2_racc_interface_control_reg_arr(4)_22" BEL
        "usb2_racc_interface_control_reg_arr(3)_29" BEL
        "usb2_racc_interface_control_reg_arr(4)_16" BEL
        "usb2_racc_interface_control_reg_arr(4)_21" BEL
        "usb2_racc_interface_control_reg_arr(3)_28" BEL
        "usb2_racc_interface_control_reg_arr(4)_15" BEL
        "usb2_racc_interface_control_reg_arr(4)_20" BEL
        "usb2_racc_interface_control_reg_arr(3)_27" BEL
        "usb2_racc_interface_control_reg_arr(3)_31" BEL
        "usb2_racc_interface_control_reg_arr(3)_26" BEL
        "usb2_racc_interface_control_reg_arr(4)_14" BEL
        "usb2_racc_interface_control_reg_arr(4)_13" BEL
        "usb2_racc_interface_control_reg_arr(3)_30" BEL
        "usb2_racc_interface_control_reg_arr(3)_25" BEL
        "usb2_racc_interface_control_reg_arr(3)_24" BEL
        "usb2_racc_interface_control_reg_arr(3)_19" BEL
        "usb2_racc_interface_control_reg_arr(4)_12" BEL
        "usb2_racc_interface_control_reg_arr(4)_11" BEL
        "usb2_racc_interface_control_reg_arr(3)_23" BEL
        "usb2_racc_interface_control_reg_arr(3)_18" BEL
        "usb2_racc_interface_control_reg_arr(4)_10" BEL
        "usb2_racc_interface_control_reg_arr(3)_22" BEL
        "usb2_racc_interface_control_reg_arr(3)_17" BEL
        "usb2_racc_interface_control_reg_arr(2)_29" BEL
        "usb2_racc_interface_control_reg_arr(3)_21" BEL
        "usb2_racc_interface_control_reg_arr(2)_28" BEL
        "usb2_racc_interface_control_reg_arr(3)_20" BEL
        "usb2_racc_interface_control_reg_arr(3)_16" BEL
        "usb2_racc_interface_control_reg_arr(3)_15" BEL
        "usb2_racc_interface_control_reg_arr(2)_27" BEL
        "usb2_racc_interface_control_reg_arr(3)_14" BEL
        "usb2_racc_interface_control_reg_arr(2)_26" BEL
        "usb2_racc_interface_control_reg_arr(3)_13" BEL
        "usb2_racc_interface_control_reg_arr(2)_30" BEL
        "usb2_racc_interface_control_reg_arr(2)_31" BEL
        "usb2_racc_interface_control_reg_arr(3)_12" BEL
        "usb2_racc_interface_control_reg_arr(2)_24" BEL
        "usb2_racc_interface_control_reg_arr(2)_25" BEL
        "usb2_racc_interface_control_reg_arr(3)_11" BEL
        "usb2_racc_interface_control_reg_arr(2)_23" BEL
        "usb2_racc_interface_control_reg_arr(2)_19" BEL
        "usb2_racc_interface_control_reg_arr(2)_18" BEL
        "usb2_racc_interface_control_reg_arr(3)_10" BEL
        "usb2_racc_interface_control_reg_arr(2)_17" BEL
        "usb2_racc_interface_control_reg_arr(1)_29" BEL
        "usb2_racc_interface_control_reg_arr(2)_22" BEL
        "usb2_racc_interface_control_reg_arr(2)_21" BEL
        "usb2_racc_interface_control_reg_arr(1)_28" BEL
        "usb2_racc_interface_control_reg_arr(2)_16" BEL
        "usb2_racc_interface_control_reg_arr(2)_15" BEL
        "usb2_racc_interface_control_reg_arr(1)_27" BEL
        "usb2_racc_interface_control_reg_arr(2)_20" BEL
        "usb2_racc_interface_control_reg_arr(2)_14" BEL
        "usb2_racc_interface_control_reg_arr(1)_31" BEL
        "usb2_racc_interface_control_reg_arr(2)_13" BEL
        "usb2_racc_interface_control_reg_arr(1)_26" BEL
        "usb2_racc_interface_control_reg_arr(1)_25" BEL
        "usb2_racc_interface_control_reg_arr(2)_12" BEL
        "usb2_racc_interface_control_reg_arr(1)_30" BEL
        "usb2_racc_interface_control_reg_arr(1)_19" BEL
        "usb2_racc_interface_control_reg_arr(2)_11" BEL
        "usb2_racc_interface_control_reg_arr(1)_24" BEL
        "usb2_racc_interface_control_reg_arr(1)_23" BEL
        "usb2_racc_interface_control_reg_arr(2)_10" BEL
        "usb2_racc_interface_control_reg_arr(1)_22" BEL
        "usb2_racc_interface_control_reg_arr(1)_18" BEL
        "usb2_racc_interface_control_reg_arr(0)_29" BEL
        "usb2_racc_interface_control_reg_arr(1)_21" BEL
        "usb2_racc_interface_control_reg_arr(1)_17" BEL
        "usb2_racc_interface_control_reg_arr(15)_29" BEL
        "usb2_racc_interface_control_reg_arr(0)_28" BEL
        "usb2_racc_interface_control_reg_arr(1)_16" BEL
        "usb2_racc_interface_control_reg_arr(1)_20" BEL
        "usb2_racc_interface_control_reg_arr(1)_15" BEL
        "usb2_racc_interface_control_reg_arr(13)_9" BEL
        "usb2_racc_interface_control_reg_arr(0)_27" BEL
        "usb2_racc_interface_control_reg_arr(15)_28" BEL
        "usb2_racc_interface_control_reg_arr(1)_14" BEL
        "usb2_racc_interface_control_reg_arr(15)_27" BEL
        "usb2_racc_interface_control_reg_arr(0)_26" BEL
        "usb2_racc_interface_control_reg_arr(0)_31" BEL
        "usb2_racc_interface_control_reg_arr(13)_8" BEL
        "usb2_racc_interface_control_reg_arr(1)_13" BEL
        "usb2_racc_interface_control_reg_arr(15)_26" BEL
        "usb2_racc_interface_control_reg_arr(13)_7" BEL
        "usb2_racc_interface_control_reg_arr(15)_31" BEL
        "usb2_racc_interface_control_reg_arr(0)_30" BEL
        "usb2_racc_interface_control_reg_arr(0)_25" BEL
        "usb2_racc_interface_control_reg_arr(15)_30" BEL
        "usb2_racc_interface_control_reg_arr(15)_25" BEL
        "usb2_racc_interface_control_reg_arr(1)_12" BEL
        "usb2_racc_interface_control_reg_arr(13)_6" BEL
        "usb2_racc_interface_control_reg_arr(0)_19" BEL
        "usb2_racc_interface_control_reg_arr(0)_24" BEL
        "usb2_racc_interface_control_reg_arr(1)_11" BEL
        "usb2_racc_interface_control_reg_arr(15)_19" BEL
        "usb2_racc_interface_control_reg_arr(13)_5" BEL
        "usb2_racc_interface_control_reg_arr(15)_24" BEL
        "usb2_racc_interface_control_reg_arr(0)_18" BEL
        "usb2_racc_interface_control_reg_arr(0)_23" BEL
        "usb2_racc_interface_control_reg_arr(1)_10" BEL
        "usb2_racc_interface_control_reg_arr(15)_18" BEL
        "usb2_racc_interface_control_reg_arr(13)_4" BEL
        "usb2_racc_interface_control_reg_arr(15)_23" BEL
        "usb2_racc_interface_control_reg_arr(0)_17" BEL
        "usb2_racc_interface_control_reg_arr(0)_22" BEL
        "usb2_racc_interface_control_reg_arr(15)_22" BEL
        "usb2_racc_interface_control_reg_arr(15)_17" BEL
        "usb2_racc_interface_control_reg_arr(13)_3" BEL
        "usb2_racc_interface_control_reg_arr(0)_16" BEL
        "usb2_racc_interface_control_reg_arr(0)_21" BEL
        "usb2_racc_interface_control_reg_arr(14)_29" BEL
        "usb2_racc_interface_control_reg_arr(15)_21" BEL
        "usb2_racc_interface_control_reg_arr(13)_2" BEL
        "usb2_racc_interface_control_reg_arr(15)_16" BEL
        "usb2_racc_interface_control_reg_arr(0)_15" BEL
        "usb2_racc_interface_control_reg_arr(0)_20" BEL
        "usb2_racc_interface_control_reg_arr(14)_28" BEL
        "usb2_racc_interface_control_reg_arr(15)_20" BEL
        "usb2_racc_interface_control_reg_arr(13)_1" BEL
        "usb2_racc_interface_control_reg_arr(15)_15" BEL
        "usb2_racc_interface_control_reg_arr(0)_14" BEL
        "usb2_racc_interface_control_reg_arr(14)_27" BEL
        "usb2_racc_interface_control_reg_arr(15)_14" BEL
        "usb2_racc_interface_control_reg_arr(13)_0" BEL
        "usb2_racc_interface_control_reg_arr(0)_13" BEL
        "usb2_racc_interface_control_reg_arr(14)_31" BEL
        "usb2_racc_interface_control_reg_arr(15)_13" BEL
        "usb2_racc_interface_control_reg_arr(14)_26" BEL
        "usb2_racc_interface_control_reg_arr(0)_12" BEL
        "usb2_racc_interface_control_reg_arr(14)_25" BEL
        "usb2_racc_interface_control_reg_arr(14)_30" BEL
        "usb2_racc_interface_control_reg_arr(15)_12" BEL
        "usb2_racc_interface_control_reg_arr(0)_11" BEL
        "usb2_racc_interface_control_reg_arr(14)_24" BEL
        "usb2_racc_interface_control_reg_arr(15)_11" BEL
        "usb2_racc_interface_control_reg_arr(14)_19" BEL
        "usb2_racc_interface_control_reg_arr(0)_10" BEL
        "usb2_racc_interface_control_reg_arr(14)_18" BEL
        "usb2_racc_interface_control_reg_arr(14)_23" BEL
        "usb2_racc_interface_control_reg_arr(15)_10" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_29" BEL
        "usb2_racc_interface_control_reg_arr(14)_17" BEL
        "usb2_racc_interface_control_reg_arr(14)_22" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_28" BEL
        "usb2_racc_interface_control_reg_arr(13)_29" BEL
        "usb2_racc_interface_control_reg_arr(14)_16" BEL
        "usb2_racc_interface_control_reg_arr(14)_21" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_27" BEL
        "usb2_racc_interface_control_reg_arr(13)_28" BEL
        "usb2_racc_interface_control_reg_arr(14)_20" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_26" BEL
        "usb2_racc_interface_control_reg_arr(14)_15" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_31" BEL
        "usb2_racc_interface_control_reg_arr(13)_27" BEL
        "usb2_racc_interface_control_reg_arr(14)_14" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_25" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_30" BEL
        "usb2_racc_interface_control_reg_arr(13)_31" BEL
        "usb2_racc_interface_control_reg_arr(14)_13" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_19" BEL
        "usb2_racc_interface_control_reg_arr(13)_26" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_24" BEL
        "usb2_racc_interface_control_reg_arr(13)_30" BEL
        "usb2_racc_interface_control_reg_arr(13)_25" BEL
        "usb2_racc_interface_control_reg_arr(14)_12" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_23" BEL
        "usb2_racc_interface_control_reg_arr(4)_9" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_18" BEL
        "usb2_racc_interface_control_reg_arr(13)_24" BEL
        "usb2_racc_interface_control_reg_arr(14)_11" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_17" BEL
        "usb2_racc_interface_control_reg_arr(13)_19" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_22" BEL
        "usb2_racc_interface_control_reg_arr(4)_8" BEL
        "usb2_racc_interface_control_reg_arr(13)_23" BEL
        "usb2_racc_interface_control_reg_arr(13)_18" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_21" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_16" BEL
        "usb2_racc_interface_control_reg_arr(14)_10" BEL
        "usb2_racc_interface_control_reg_arr(4)_7" BEL
        "usb2_racc_interface_control_reg_arr(13)_22" BEL
        "usb2_racc_interface_control_reg_arr(13)_17" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_20" BEL
        "usb2_racc_interface_control_reg_arr(4)_6" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_15" BEL
        "usb2_racc_interface_control_reg_arr(13)_21" BEL
        "usb2_racc_interface_control_reg_arr(13)_16" BEL
        "usb2_racc_interface_control_reg_arr(12)_29" BEL
        "usb2_racc_interface_control_reg_arr(4)_5" BEL
        "usb2_racc_interface_control_reg_arr(12)_28" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_14" BEL
        "usb2_racc_interface_control_reg_arr(13)_15" BEL
        "usb2_racc_interface_control_reg_arr(13)_20" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_13" BEL
        "usb2_racc_interface_control_reg_arr(4)_4" BEL
        "usb2_racc_interface_control_reg_arr(13)_14" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_12" BEL
        "usb2_racc_interface_control_reg_arr(12)_27" BEL
        "usb2_racc_interface_control_reg_arr(12)_26" BEL
        "usb2_racc_interface_control_reg_arr(12)_31" BEL
        "usb2_racc_interface_control_reg_arr(4)_3" BEL
        "usb2_racc_interface_control_reg_arr(13)_13" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_11" BEL
        "usb2_racc_interface_control_reg_arr(12)_25" BEL
        "usb2_racc_interface_control_reg_arr(12)_30" BEL
        "usb2_racc_interface_control_reg_arr(4)_2" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_10" BEL
        "usb2_racc_interface_control_reg_arr(4)_1" BEL
        "usb2_racc_interface_control_reg_arr(13)_12" BEL
        "usb2_racc_interface_control_reg_arr(12)_24" BEL
        "usb2_racc_interface_control_reg_arr(13)_11" BEL
        "usb2_racc_interface_control_reg_arr(12)_19" BEL
        "usb2_racc_interface_control_reg_arr(4)_0" BEL
        "usb2_racc_interface_control_reg_arr(12)_18" BEL
        "usb2_racc_interface_control_reg_arr(13)_10" BEL
        "usb2_racc_interface_control_reg_arr(12)_17" BEL
        "usb2_racc_interface_control_reg_arr(12)_23" BEL
        "usb2_racc_interface_control_reg_arr(11)_29" BEL
        "usb2_racc_interface_control_reg_arr(12)_16" BEL
        "usb2_racc_interface_control_reg_arr(12)_22" BEL
        "usb2_racc_interface_control_reg_arr(11)_28" BEL
        "usb2_racc_interface_control_reg_arr(12)_15" BEL
        "usb2_racc_interface_control_reg_arr(12)_21" BEL
        "usb2_racc_interface_control_reg_arr(12)_20" BEL
        "usb2_racc_interface_control_reg_arr(11)_27" BEL
        "usb2_racc_interface_control_reg_arr(11)_31" BEL
        "usb2_racc_interface_control_reg_arr(11)_26" BEL
        "usb2_racc_interface_control_reg_arr(12)_14" BEL
        "usb2_racc_interface_control_reg_arr(11)_30" BEL
        "usb2_racc_interface_control_reg_arr(11)_25" BEL
        "usb2_racc_interface_control_reg_arr(12)_13" BEL
        "usb2_racc_interface_control_reg_arr(11)_24" BEL
        "usb2_racc_interface_control_reg_arr(11)_19" BEL
        "usb2_racc_interface_control_reg_arr(12)_12" BEL
        "usb2_racc_interface_control_reg_arr(12)_11" BEL
        "usb2_racc_interface_control_reg_arr(11)_23" BEL
        "usb2_racc_interface_control_reg_arr(12)_10" BEL
        "usb2_racc_interface_control_reg_arr(11)_22" BEL
        "usb2_racc_interface_control_reg_arr(11)_18" BEL
        "usb2_racc_interface_control_reg_arr(10)_29" BEL
        "usb2_racc_interface_control_reg_arr(11)_21" BEL
        "usb2_racc_interface_control_reg_arr(11)_17" BEL
        "usb2_racc_interface_control_reg_arr(10)_28" BEL
        "usb2_racc_interface_control_reg_arr(11)_15" BEL
        "usb2_racc_interface_control_reg_arr(11)_16" BEL
        "usb2_racc_interface_control_reg_arr(11)_20" BEL
        "usb2_racc_interface_control_reg_arr(10)_27" BEL
        "usb2_racc_interface_control_reg_arr(11)_14" BEL
        "usb2_racc_interface_control_reg_arr(10)_26" BEL
        "usb2_racc_interface_control_reg_arr(10)_31" BEL
        "usb2_racc_interface_control_reg_arr(11)_13" BEL
        "usb2_racc_interface_control_reg_arr(10)_30" BEL
        "usb2_racc_interface_control_reg_arr(11)_12" BEL
        "usb2_racc_interface_control_reg_arr(10)_25" BEL
        "usb2_racc_interface_control_reg_arr(10)_24" BEL
        "usb2_racc_interface_control_reg_arr(11)_11" BEL
        "usb2_racc_interface_control_reg_arr(10)_19" BEL
        "usb2_racc_interface_control_reg_arr(10)_23" BEL
        "usb2_racc_interface_control_reg_arr(11)_10" BEL
        "usb2_racc_interface_control_reg_arr(10)_18" BEL
        "usb2_racc_interface_control_reg_arr(10)_22" BEL
        "usb2_racc_interface_control_reg_arr(10)_16" BEL
        "usb2_racc_interface_control_reg_arr(10)_17" BEL
        "usb2_racc_interface_control_reg_arr(10)_21" BEL
        "usb2_racc_interface_control_reg_arr(10)_15" BEL
        "usb2_racc_interface_control_reg_arr(10)_14" BEL
        "usb2_racc_interface_control_reg_arr(10)_20" BEL
        "usb2_racc_interface_control_reg_arr(10)_12" BEL
        "usb2_racc_interface_control_reg_arr(10)_13" BEL
        "usb2_racc_interface_control_reg_arr(10)_10" BEL
        "usb2_racc_interface_control_reg_arr(15)_9" BEL
        "usb2_racc_interface_control_reg_arr(10)_11" BEL
        "usb2_racc_interface_control_reg_arr(15)_8" BEL
        "usb2_racc_interface_control_reg_arr(15)_7" BEL
        "usb2_racc_interface_control_reg_arr(15)_6" BEL
        "usb2_racc_interface_control_reg_arr(15)_5" BEL
        "usb2_racc_interface_control_reg_arr(15)_4" BEL
        "usb2_racc_interface_control_reg_arr(15)_3" BEL
        "usb2_racc_interface_control_reg_arr(10)_9" BEL
        "usb2_racc_interface_control_reg_arr(15)_1" BEL
        "usb2_racc_interface_control_reg_arr(15)_2" BEL
        "usb2_racc_interface_control_reg_arr(10)_8" BEL
        "usb2_racc_interface_control_reg_arr(15)_0" BEL
        "usb2_racc_interface_control_reg_arr(10)_6" BEL
        "usb2_racc_interface_control_reg_arr(10)_5" BEL
        "usb2_racc_interface_control_reg_arr(10)_7" BEL
        "usb2_racc_interface_control_reg_arr(10)_4" BEL
        "usb2_racc_interface_control_reg_arr(10)_3" BEL
        "usb2_racc_interface_control_reg_arr(10)_1" BEL
        "usb2_racc_interface_control_reg_arr(10)_0" BEL
        "usb2_racc_interface_control_reg_arr(10)_2" BEL
        "usb2_racc_interface_control_reg_arr(6)_9" BEL
        "usb2_racc_interface_control_reg_arr(6)_8" BEL
        "usb2_racc_interface_control_reg_arr(6)_6" BEL
        "usb2_racc_interface_control_reg_arr(6)_5" BEL
        "usb2_racc_interface_control_reg_arr(6)_7" BEL
        "usb2_racc_interface_control_reg_arr(6)_3" BEL
        "usb2_racc_interface_control_reg_arr(6)_2" BEL
        "usb2_racc_interface_control_reg_arr(6)_4" BEL
        "usb2_racc_interface_control_reg_arr(6)_1" BEL
        "usb2_racc_interface_control_reg_arr(1)_8" BEL
        "usb2_racc_interface_control_reg_arr(1)_9" BEL
        "usb2_racc_interface_control_reg_arr(6)_0" BEL
        "usb2_racc_interface_control_reg_arr(1)_7" BEL
        "usb2_racc_interface_control_reg_arr(1)_6" BEL
        "usb2_racc_interface_control_reg_arr(1)_5" BEL
        "usb2_racc_interface_control_reg_arr(1)_3" BEL
        "usb2_racc_interface_control_reg_arr(1)_2" BEL
        "usb2_racc_interface_control_reg_arr(1)_4" BEL
        "usb2_racc_interface_control_reg_arr(1)_0" BEL
        "usb2_racc_interface_control_reg_arr(1)_1" BEL
        "usb2_racc_interface_control_reg_arr(12)_9" BEL
        "usb2_racc_interface_control_reg_arr(12)_8" BEL
        "usb2_racc_interface_control_reg_arr(12)_7" BEL
        "usb2_racc_interface_control_reg_arr(12)_6" BEL
        "usb2_racc_interface_control_reg_arr(12)_5" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_9" BEL
        "usb2_racc_interface_control_reg_arr(12)_4" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_8" BEL
        "usb2_racc_interface_control_reg_arr(12)_3" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_7" BEL
        "usb2_racc_interface_control_reg_arr(12)_2" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_6" BEL
        "usb2_racc_interface_control_reg_arr(12)_1" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_5" BEL
        "usb2_racc_interface_control_reg_arr(12)_0" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_4" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_3" BEL
        "usb2_racc_interface_control_reg_arr(8)_9" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_1" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_2" BEL
        "usb2_racc_interface_O_LOCBUS_D_WR_0" BEL
        "usb2_racc_interface_control_reg_arr(8)_7" BEL
        "usb2_racc_interface_control_reg_arr(8)_8" BEL
        "usb2_racc_interface_control_reg_arr(8)_5" BEL
        "usb2_racc_interface_control_reg_arr(8)_4" BEL
        "usb2_racc_interface_control_reg_arr(8)_6" BEL
        "usb2_racc_interface_control_reg_arr(8)_3" BEL
        "usb2_racc_interface_control_reg_arr(8)_2" BEL
        "usb2_racc_interface_control_reg_arr(8)_1" BEL
        "usb2_racc_interface_control_reg_arr(3)_8" BEL
        "usb2_racc_interface_control_reg_arr(3)_9" BEL
        "usb2_racc_interface_control_reg_arr(3)_7" BEL
        "usb2_racc_interface_control_reg_arr(3)_6" BEL
        "usb2_racc_interface_control_reg_arr(8)_0" BEL
        "usb2_racc_interface_control_reg_arr(3)_4" BEL
        "usb2_racc_interface_control_reg_arr(3)_3" BEL
        "usb2_racc_interface_control_reg_arr(3)_5" BEL
        "usb2_racc_interface_control_reg_arr(3)_2" BEL
        "usb2_racc_interface_control_reg_arr(3)_1" BEL
        "usb2_racc_interface_control_reg_arr(3)_0" BEL
        "usb2_racc_interface_control_reg_arr(14)_9" BEL
        "usb2_racc_interface_control_reg_arr(14)_8" BEL
        "usb2_racc_interface_control_reg_arr(14)_7" BEL
        "usb2_racc_interface_control_reg_arr(14)_6" BEL
        "usb2_racc_interface_control_reg_arr(14)_5" BEL
        "usb2_racc_interface_control_reg_arr(14)_4" BEL
        "usb2_racc_interface_usrbus_ram_sel" BEL
        "usb2_racc_interface_uc_data_o_15" BEL
        "usb2_racc_interface_uc_data_o_14" BEL
        "usb2_racc_interface_uc_data_o_13" BEL
        "usb2_racc_interface_uc_data_o_12" BEL
        "usb2_racc_interface_uc_data_o_11" BEL
        "usb2_racc_interface_uc_data_o_10" BEL
        "usb2_racc_interface_uc_data_o_9" BEL
        "usb2_racc_interface_uc_data_o_8" BEL
        "usb2_racc_interface_uc_data_o_7" BEL
        "usb2_racc_interface_uc_data_o_6" BEL
        "usb2_racc_interface_uc_data_o_5" BEL
        "usb2_racc_interface_uc_data_o_4" BEL
        "usb2_racc_interface_uc_data_o_3" BEL
        "usb2_racc_interface_uc_data_o_2" BEL
        "usb2_racc_interface_uc_data_o_1" BEL
        "usb2_racc_interface_uc_data_o_0" BEL
        "usb2_racc_interface_usrbus_status_sel" BEL
        "usb2_racc_interface_O_LOCBUS_ADDR_14" BEL
        "usb2_racc_interface_O_LOCBUS_ADDR_13" BEL
        "usb2_racc_interface_O_LOCBUS_ADDR_12" BEL
        "usb2_racc_interface_O_LOCBUS_ADDR_11" BEL
        "usb2_racc_interface_O_LOCBUS_ADDR_10" BEL
        "usb2_racc_interface_O_LOCBUS_ADDR_9" BEL
        "usb2_racc_interface_O_LOCBUS_ADDR_8" BEL
        "usb2_racc_interface_O_LOCBUS_ADDR_7" BEL
        "usb2_racc_interface_O_LOCBUS_ADDR_6" BEL
        "usb2_racc_interface_O_LOCBUS_ADDR_5" BEL
        "usb2_racc_interface_O_LOCBUS_ADDR_4" BEL
        "usb2_racc_interface_O_LOCBUS_ADDR_3" BEL
        "usb2_racc_interface_O_LOCBUS_ADDR_2" BEL
        "usb2_racc_interface_O_CONTROL_TRIG_ARR(1)_2" BEL
        "usb2_racc_interface_control_reg_arr(9)_29" BEL
        "usb2_racc_interface_control_reg_arr(9)_28" BEL
        "usb2_racc_interface_O_CONTROL_TRIG_ARR(1)_0" BEL
        "usb2_racc_interface_control_reg_arr(9)_27" BEL
        "usb2_racc_interface_control_reg_arr(9)_31" BEL
        "usb2_racc_interface_uc_pktend" BEL
        "usb2_racc_interface_control_reg_arr(9)_30" BEL
        "usb2_racc_interface_control_reg_arr(9)_25" BEL
        "usb2_racc_interface_control_reg_arr(9)_26" BEL
        "usb2_racc_interface_control_reg_arr(9)_19" BEL
        "usb2_racc_interface_control_reg_arr(9)_24" BEL
        "usb2_racc_interface_control_reg_arr(9)_18" BEL
        "usb2_racc_interface_control_reg_arr(9)_22" BEL
        "usb2_racc_interface_control_reg_arr(9)_23" BEL
        "usb2_racc_interface_control_reg_arr(9)_17" BEL
        "usb2_racc_interface_control_reg_arr(9)_16" BEL
        "usb2_racc_interface_control_reg_arr(9)_21" BEL
        "usb2_racc_interface_control_reg_arr(9)_15" BEL
        "usb2_racc_interface_control_reg_arr(9)_20" BEL
        "usb2_racc_interface_control_reg_arr(9)_14" BEL
        "usb2_racc_interface_control_reg_arr(9)_13" BEL
        "usb2_racc_interface_control_reg_arr(9)_12" BEL
        "usb2_racc_interface_control_reg_arr(9)_11" BEL
        "usb2_racc_interface_control_reg_arr(9)_10" BEL
        "usb2_racc_interface_O_LOCBUS_WE" BEL "usb2_racc_interface_uc_cmd_0"
        BEL "usb2_racc_interface_uc_fdts_pl" BEL
        "usb2_racc_interface_usrbus_size_29" BEL
        "usb2_racc_interface_usrbus_size_28" BEL
        "usb2_racc_interface_usrbus_size_27" BEL
        "usb2_racc_interface_usrbus_pkt_size_8" BEL
        "usb2_racc_interface_usrbus_pkt_size_7" BEL
        "usb2_racc_interface_usrbus_pkt_size_6" BEL
        "usb2_racc_interface_usrbus_pkt_size_5" BEL
        "usb2_racc_interface_usrbus_pkt_size_4" BEL
        "usb2_racc_interface_usrbus_pkt_size_3" BEL
        "usb2_racc_interface_usrbus_pkt_size_2" BEL
        "usb2_racc_interface_usrbus_pkt_size_1" BEL
        "usb2_racc_interface_usrbus_pkt_size_0" BEL
        "usb2_racc_interface_usrbus_size_31" BEL
        "usb2_racc_interface_usrbus_size_26" BEL
        "usb2_racc_interface_usrbus_size_25" BEL
        "usb2_racc_interface_usrbus_size_30" BEL
        "usb2_racc_interface_usrbus_size_24" BEL
        "usb2_racc_interface_usrbus_size_19" BEL
        "usb2_racc_interface_usrbus_size_23" BEL
        "usb2_racc_interface_usrbus_size_18" BEL
        "usb2_racc_interface_usrbus_size_22" BEL
        "usb2_racc_interface_usrbus_size_17" BEL
        "usb2_racc_interface_usrbus_size_21" BEL
        "usb2_racc_interface_usrbus_size_16" BEL
        "usb2_racc_interface_usrbus_size_20" BEL
        "usb2_racc_interface_usrbus_size_15" BEL
        "usb2_racc_interface_usrbus_size_14" BEL
        "usb2_racc_interface_usrbus_size_13" BEL
        "usb2_racc_interface_usrbus_size_12" BEL
        "usb2_racc_interface_usrbus_size_11" BEL
        "usb2_racc_interface_usrbus_size_10" BEL
        "usb2_racc_interface_O_CONTROL_TRIG_ARR(3)_2" BEL
        "usb2_racc_interface_O_CONTROL_TRIG_ARR(3)_0" BEL
        "usb2_racc_interface_locbus_addr_9" BEL
        "usb2_racc_interface_locbus_addr_8" BEL
        "usb2_racc_interface_O_CONTROL0_BIT_TRIG_ARR_4" BEL
        "usb2_racc_interface_locbus_addr_7" BEL
        "usb2_racc_interface_O_CONTROL0_BIT_TRIG_ARR_3" BEL
        "usb2_racc_interface_locbus_addr_6" BEL
        "usb2_racc_interface_O_CONTROL0_BIT_TRIG_ARR_2" BEL
        "usb2_racc_interface_locbus_addr_5" BEL
        "usb2_racc_interface_O_CONTROL0_BIT_TRIG_ARR_1" BEL
        "usb2_racc_interface_O_CONTROL0_BIT_TRIG_ARR_0" BEL
        "usb2_racc_interface_locbus_addr_4" BEL
        "usb2_racc_interface_locbus_addr_3" BEL
        "usb2_racc_interface_control_reg_arr(9)_9" BEL
        "usb2_racc_interface_locbus_addr_2" BEL
        "usb2_racc_interface_control_reg_arr(9)_8" BEL
        "usb2_racc_interface_locbus_addr_1" BEL
        "usb2_racc_interface_control_reg_arr(9)_7" BEL
        "usb2_racc_interface_control_reg_arr(9)_6" BEL
        "usb2_racc_interface_control_reg_arr(9)_5" BEL
        "usb2_racc_interface_control_reg_arr(9)_4" BEL
        "usb2_racc_interface_control_reg_arr(9)_3" BEL
        "usb2_racc_interface_control_reg_arr(9)_2" BEL
        "usb2_racc_interface_control_reg_arr(9)_1" BEL
        "usb2_racc_interface_control_reg_arr(9)_0" BEL
        "usb2_racc_interface_usrbus_byte_sel_1" BEL
        "usb2_racc_interface_uc_fifoadr1" BEL
        "usb2_racc_interface_O_CONTROL_TRIG_ARR(5)_2" BEL
        "usb2_racc_interface_status_reg_no_3" BEL
        "usb2_racc_interface_status_reg_no_2" BEL
        "usb2_racc_interface_status_reg_no_1" BEL
        "usb2_racc_interface_status_reg_no_0" BEL
        "usb2_racc_interface_uc_slwr" BEL "usb2_racc_interface_uc_sloe" BEL
        "usb2_racc_interface_O_CONTROL_TRIG_ARR(2)_0" BEL
        "usb2_racc_interface_O_CONTROL_TRIG_ARR(2)_2" BEL
        "usb2_racc_interface_control_reg_no_3" BEL
        "usb2_racc_interface_control_reg_no_2" BEL
        "usb2_racc_interface_control_reg_no_1" BEL
        "usb2_racc_interface_control_reg_no_0" BEL
        "usb2_racc_interface_usrbus_size_8" BEL
        "usb2_racc_interface_usrbus_size_9" BEL
        "usb2_racc_interface_usrbus_size_7" BEL
        "usb2_racc_interface_usrbus_size_6" BEL
        "usb2_racc_interface_usrbus_size_5" BEL
        "usb2_racc_interface_usrbus_size_4" BEL
        "usb2_racc_interface_locbus_addr_18" BEL
        "usb2_racc_interface_usrbus_size_3" BEL
        "usb2_racc_interface_locbus_addr_17" BEL
        "usb2_racc_interface_usrbus_size_2" BEL
        "usb2_racc_interface_locbus_addr_16" BEL
        "usb2_racc_interface_usrbus_size_1" BEL
        "usb2_racc_interface_locbus_addr_15" BEL
        "usb2_racc_interface_usrbus_size_0" BEL
        "usb2_racc_interface_locbus_addr_14" BEL
        "usb2_racc_interface_locbus_addr_13" BEL
        "usb2_racc_interface_locbus_addr_12" BEL
        "usb2_racc_interface_locbus_addr_11" BEL
        "usb2_racc_interface_locbus_addr_10" BEL
        "usb2_racc_interface_O_CONTROL_TRIG_ARR(4)_2" BEL
        "usb2_racc_interface_O_CONTROL_TRIG_ARR(4)_0" BEL
        "app_drs_led_state_FSM_FFd1" BEL "app_serial_count_1_1" BEL
        "app_serial_count_5_1" BEL "app_pmc_iofds_inst_bit_56_gen[0].FF1" BEL
        "app_pmc_iofds_inst_bit_58_gen[0].FF1" BEL
        "app_pmc_iofds_inst_bit_60_gen[0].FF1" BEL
        "app_pmc_iofds_inst_bit_62_gen[0].FF1" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[41].FF2" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[40].FF1" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[39].FF1" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[37].FF1" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[35].FF1" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[33].FF2" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[31].FF2" BEL "app_pmc_nt_31" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[31].FF1" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[30].FF2" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[29].FF1" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[28].FF1" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[26].FF2" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[24].FF2" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[22].FF2" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[20].FF2" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[18].FF2" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[16].FF2" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[14].FF2" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[12].FF2" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[10].FF2" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[8].FF2" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[6].FF2" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[4].FF2" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[2].FF2" BEL
        "app_pmc_iofds_inst_bit_41_0_gen[0].FF2" BEL
        "app_pmc_iofds_inst_bit_53_47_gen[6].FF2" BEL
        "app_pmc_iofds_inst_bit_53_47_gen[5].FF1" BEL
        "app_pmc_iofds_inst_bit_53_47_gen[4].FF2" BEL
        "app_pmc_iofds_inst_bit_53_47_gen[3].FF1" BEL
        "app_pmc_iofds_inst_bit_53_47_gen[1].FF1" BEL
        "app_pmc_iofds_inst_bit_53_47_gen[0].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[0].FF2" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[0].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[1].FF2" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[1].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[2].FF2" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[2].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[3].FF2" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[3].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[4].FF2" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[4].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[5].FF2" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[5].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[6].FF2" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[6].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[7].FF2" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[7].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[8].FF2" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[8].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[9].FF2" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[9].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[10].FF2" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[10].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[11].FF2" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[11].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[12].FF2" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[12].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[13].FF2" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[13].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[14].FF2" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[14].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[15].FF2" BEL
        "usb2_racc_interface_uc_fdts" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[15].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[16].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[17].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[18].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[19].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[20].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[22].FF1" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[24].FF2" BEL
        "usb2_racc_interface_uc_iofds_inst_gen[25].FF2" PIN
        "drs_dpram_dpram_gen[15].ramb16_s36_s36_inst.B_pins<10>" PIN
        "drs_dpram_dpram_gen[14].ramb16_s36_s36_inst.B_pins<10>" PIN
        "drs_dpram_dpram_gen[13].ramb16_s36_s36_inst.B_pins<10>" PIN
        "drs_dpram_dpram_gen[12].ramb16_s36_s36_inst.B_pins<10>" PIN
        "drs_dpram_dpram_gen[11].ramb16_s36_s36_inst.B_pins<10>" PIN
        "drs_dpram_dpram_gen[10].ramb16_s36_s36_inst.B_pins<10>" PIN
        "drs_dpram_dpram_gen[9].ramb16_s36_s36_inst.B_pins<10>" PIN
        "drs_dpram_dpram_gen[8].ramb16_s36_s36_inst.B_pins<10>" PIN
        "drs_dpram_dpram_gen[7].ramb16_s36_s36_inst.B_pins<10>" PIN
        "drs_dpram_dpram_gen[6].ramb16_s36_s36_inst.B_pins<10>" PIN
        "drs_dpram_dpram_gen[5].ramb16_s36_s36_inst.B_pins<10>" PIN
        "drs_dpram_dpram_gen[4].ramb16_s36_s36_inst.B_pins<10>" PIN
        "drs_dpram_dpram_gen[3].ramb16_s36_s36_inst.B_pins<10>" PIN
        "drs_dpram_dpram_gen[2].ramb16_s36_s36_inst.B_pins<10>" PIN
        "drs_dpram_dpram_gen[1].ramb16_s36_s36_inst.B_pins<10>" PIN
        "drs_dpram_dpram_gen[0].ramb16_s36_s36_inst.B_pins<10>" BEL
        "clocks_inst_bufg_clk33_dcm1.GCLKMUX" BEL
        "clocks_inst_bufg_clk33_dcm1";
PIN drs_dpram_dpram_gen[15].ramb16_s36_s36_inst.A_pins<10> = BEL
        "drs_dpram_dpram_gen[15].ramb16_s36_s36_inst.A" PINNAME CLKA;
PIN drs_dpram_dpram_gen[14].ramb16_s36_s36_inst.A_pins<10> = BEL
        "drs_dpram_dpram_gen[14].ramb16_s36_s36_inst.A" PINNAME CLKA;
PIN drs_dpram_dpram_gen[13].ramb16_s36_s36_inst.A_pins<10> = BEL
        "drs_dpram_dpram_gen[13].ramb16_s36_s36_inst.A" PINNAME CLKA;
PIN drs_dpram_dpram_gen[12].ramb16_s36_s36_inst.A_pins<10> = BEL
        "drs_dpram_dpram_gen[12].ramb16_s36_s36_inst.A" PINNAME CLKA;
PIN drs_dpram_dpram_gen[11].ramb16_s36_s36_inst.A_pins<10> = BEL
        "drs_dpram_dpram_gen[11].ramb16_s36_s36_inst.A" PINNAME CLKA;
PIN drs_dpram_dpram_gen[10].ramb16_s36_s36_inst.A_pins<10> = BEL
        "drs_dpram_dpram_gen[10].ramb16_s36_s36_inst.A" PINNAME CLKA;
PIN drs_dpram_dpram_gen[9].ramb16_s36_s36_inst.A_pins<10> = BEL
        "drs_dpram_dpram_gen[9].ramb16_s36_s36_inst.A" PINNAME CLKA;
PIN drs_dpram_dpram_gen[8].ramb16_s36_s36_inst.A_pins<10> = BEL
        "drs_dpram_dpram_gen[8].ramb16_s36_s36_inst.A" PINNAME CLKA;
PIN drs_dpram_dpram_gen[7].ramb16_s36_s36_inst.A_pins<10> = BEL
        "drs_dpram_dpram_gen[7].ramb16_s36_s36_inst.A" PINNAME CLKA;
PIN drs_dpram_dpram_gen[6].ramb16_s36_s36_inst.A_pins<10> = BEL
        "drs_dpram_dpram_gen[6].ramb16_s36_s36_inst.A" PINNAME CLKA;
PIN drs_dpram_dpram_gen[5].ramb16_s36_s36_inst.A_pins<10> = BEL
        "drs_dpram_dpram_gen[5].ramb16_s36_s36_inst.A" PINNAME CLKA;
PIN drs_dpram_dpram_gen[4].ramb16_s36_s36_inst.A_pins<10> = BEL
        "drs_dpram_dpram_gen[4].ramb16_s36_s36_inst.A" PINNAME CLKA;
PIN drs_dpram_dpram_gen[3].ramb16_s36_s36_inst.A_pins<10> = BEL
        "drs_dpram_dpram_gen[3].ramb16_s36_s36_inst.A" PINNAME CLKA;
PIN drs_dpram_dpram_gen[2].ramb16_s36_s36_inst.A_pins<10> = BEL
        "drs_dpram_dpram_gen[2].ramb16_s36_s36_inst.A" PINNAME CLKA;
PIN drs_dpram_dpram_gen[1].ramb16_s36_s36_inst.A_pins<10> = BEL
        "drs_dpram_dpram_gen[1].ramb16_s36_s36_inst.A" PINNAME CLKA;
PIN drs_dpram_dpram_gen[0].ramb16_s36_s36_inst.A_pins<10> = BEL
        "drs_dpram_dpram_gen[0].ramb16_s36_s36_inst.A" PINNAME CLKA;
TIMEGRP clocks_clk66_dcm1_tmp = BEL "app_drs_refclk_counter_4" BEL
        "app_drs_refclk_counter_5" BEL "app_drs_refclk_counter_6" BEL
        "app_drs_refclk_counter_10" BEL "app_drs_refclk_counter_7" BEL
        "app_drs_refclk_counter_11" BEL "app_drs_refclk_counter_8" BEL
        "app_drs_refclk_counter_12" BEL "app_drs_refclk_counter_9" BEL
        "app_drs_refclk_counter_13" BEL "app_drs_refclk_counter_14" BEL
        "app_drs_refclk_counter_15" BEL "app_drs_refclk_counter_0" BEL
        "app_drs_refclk_counter_1" BEL "app_drs_refclk_counter_2" BEL
        "app_drs_refclk_counter_3" BEL "app_drs_refclk" BEL
        "app_drs_refclk_counter_16" PIN
        "drs_dpram_dpram_gen[15].ramb16_s36_s36_inst.A_pins<10>" PIN
        "drs_dpram_dpram_gen[14].ramb16_s36_s36_inst.A_pins<10>" PIN
        "drs_dpram_dpram_gen[13].ramb16_s36_s36_inst.A_pins<10>" PIN
        "drs_dpram_dpram_gen[12].ramb16_s36_s36_inst.A_pins<10>" PIN
        "drs_dpram_dpram_gen[11].ramb16_s36_s36_inst.A_pins<10>" PIN
        "drs_dpram_dpram_gen[10].ramb16_s36_s36_inst.A_pins<10>" PIN
        "drs_dpram_dpram_gen[9].ramb16_s36_s36_inst.A_pins<10>" PIN
        "drs_dpram_dpram_gen[8].ramb16_s36_s36_inst.A_pins<10>" PIN
        "drs_dpram_dpram_gen[7].ramb16_s36_s36_inst.A_pins<10>" PIN
        "drs_dpram_dpram_gen[6].ramb16_s36_s36_inst.A_pins<10>" PIN
        "drs_dpram_dpram_gen[5].ramb16_s36_s36_inst.A_pins<10>" PIN
        "drs_dpram_dpram_gen[4].ramb16_s36_s36_inst.A_pins<10>" PIN
        "drs_dpram_dpram_gen[3].ramb16_s36_s36_inst.A_pins<10>" PIN
        "drs_dpram_dpram_gen[2].ramb16_s36_s36_inst.A_pins<10>" PIN
        "drs_dpram_dpram_gen[1].ramb16_s36_s36_inst.A_pins<10>" PIN
        "drs_dpram_dpram_gen[0].ramb16_s36_s36_inst.A_pins<10>" BEL
        "clocks_inst_bufg_clk66_dcm1.GCLKMUX" BEL
        "clocks_inst_bufg_clk66_dcm1";
TIMEGRP P_IO_PADS = BEL "P_IO_ECLK_IN" BEL "P_IO_ECLK_OUT" BEL "P_IO_ETRG_IN"
        BEL "P_IO_ETRG_OUT" BEL "P_IO_J42" BEL "P_IO_J43" BEL
        "P_IO_PMC_USR(0)" BEL "P_IO_PMC_USR(10)" BEL "P_IO_PMC_USR(12)" BEL
        "P_IO_PMC_USR(14)" BEL "P_IO_PMC_USR(16)" BEL "P_IO_PMC_USR(18)" BEL
        "P_IO_PMC_USR(2)" BEL "P_IO_PMC_USR(20)" BEL "P_IO_PMC_USR(22)" BEL
        "P_IO_PMC_USR(24)" BEL "P_IO_PMC_USR(26)" BEL "P_IO_PMC_USR(28)" BEL
        "P_IO_PMC_USR(29)" BEL "P_IO_PMC_USR(30)" BEL "P_IO_PMC_USR(31)" BEL
        "P_IO_PMC_USR(32)" BEL "P_IO_PMC_USR(33)" BEL "P_IO_PMC_USR(34)" BEL
        "P_IO_PMC_USR(35)" BEL "P_IO_PMC_USR(36)" BEL "P_IO_PMC_USR(37)" BEL
        "P_IO_PMC_USR(38)" BEL "P_IO_PMC_USR(39)" BEL "P_IO_PMC_USR(4)" BEL
        "P_IO_PMC_USR(40)" BEL "P_IO_PMC_USR(41)" BEL "P_IO_PMC_USR(42)" BEL
        "P_IO_PMC_USR(43)" BEL "P_IO_PMC_USR(47)" BEL "P_IO_PMC_USR(48)" BEL
        "P_IO_PMC_USR(49)" BEL "P_IO_PMC_USR(50)" BEL "P_IO_PMC_USR(51)" BEL
        "P_IO_PMC_USR(52)" BEL "P_IO_PMC_USR(53)" BEL "P_IO_PMC_USR(54)" BEL
        "P_IO_PMC_USR(55)" BEL "P_IO_PMC_USR(56)" BEL "P_IO_PMC_USR(58)" BEL
        "P_IO_PMC_USR(6)" BEL "P_IO_PMC_USR(60)" BEL "P_IO_PMC_USR(62)" BEL
        "P_IO_PMC_USR(8)" BEL "P_IO_T19" BEL "P_IO_T20" BEL "P_IO_UC_FD(0)"
        BEL "P_IO_UC_FD(1)" BEL "P_IO_UC_FD(10)" BEL "P_IO_UC_FD(11)" BEL
        "P_IO_UC_FD(12)" BEL "P_IO_UC_FD(13)" BEL "P_IO_UC_FD(14)" BEL
        "P_IO_UC_FD(15)" BEL "P_IO_UC_FD(2)" BEL "P_IO_UC_FD(3)" BEL
        "P_IO_UC_FD(4)" BEL "P_IO_UC_FD(5)" BEL "P_IO_UC_FD(6)" BEL
        "P_IO_UC_FD(7)" BEL "P_IO_UC_FD(8)" BEL "P_IO_UC_FD(9)" BEL
        "P_IO_UC_FIFOADR0" BEL "P_IO_UC_FIFOADR1" BEL "P_IO_UC_FLAGB" BEL
        "P_IO_UC_FLAGC" BEL "P_IO_UC_PKTEND" BEL "P_IO_UC_SLCS" BEL
        "P_IO_UC_SLOE" BEL "P_IO_UC_SLRD" BEL "P_IO_UC_SLWR";
TIMEGRP P_I_PADS_ALL = BEL "P_IO_ETRG_OUT" BEL "P_I_ATRG1" BEL "P_I_ATRG2" BEL
        "P_I_ATRG3" BEL "P_I_ATRG4" BEL "P_I_CLK33" BEL "P_I_J44" BEL
        "P_I_UC_PA0" PIN "clocks_Inst_dcm3_clk_ps_pins<4>";
TIMEGRP P_I_EXT_PADS = BEL "P_IO_ETRG_OUT" BEL "P_I_ATRG1" BEL "P_I_ATRG2" BEL
        "P_I_ATRG3" BEL "P_I_ATRG4" BEL "P_I_J44" BEL "P_O_CAL" BEL
        "P_O_TCA_CTRL";
TIMEGRP P_O_PADS = BEL "P_IO_J42" BEL "P_IO_J43" BEL "P_IO_PMC_USR(0)" BEL
        "P_IO_PMC_USR(10)" BEL "P_IO_PMC_USR(12)" BEL "P_IO_PMC_USR(14)" BEL
        "P_IO_PMC_USR(16)" BEL "P_IO_PMC_USR(18)" BEL "P_IO_PMC_USR(2)" BEL
        "P_IO_PMC_USR(20)" BEL "P_IO_PMC_USR(22)" BEL "P_IO_PMC_USR(24)" BEL
        "P_IO_PMC_USR(26)" BEL "P_IO_PMC_USR(28)" BEL "P_IO_PMC_USR(30)" BEL
        "P_IO_PMC_USR(32)" BEL "P_IO_PMC_USR(33)" BEL "P_IO_PMC_USR(34)" BEL
        "P_IO_PMC_USR(35)" BEL "P_IO_PMC_USR(36)" BEL "P_IO_PMC_USR(37)" BEL
        "P_IO_PMC_USR(38)" BEL "P_IO_PMC_USR(39)" BEL "P_IO_PMC_USR(4)" BEL
        "P_IO_PMC_USR(41)" BEL "P_IO_PMC_USR(43)" BEL "P_IO_PMC_USR(47)" BEL
        "P_IO_PMC_USR(49)" BEL "P_IO_PMC_USR(51)" BEL "P_IO_PMC_USR(53)" BEL
        "P_IO_PMC_USR(6)" BEL "P_IO_PMC_USR(8)" BEL "P_IO_UC_FIFOADR0" BEL
        "P_IO_UC_FIFOADR1" BEL "P_IO_UC_FLAGB" BEL "P_IO_UC_FLAGC" BEL
        "P_IO_UC_PKTEND" BEL "P_IO_UC_SLCS" BEL "P_IO_UC_SLOE" BEL
        "P_IO_UC_SLRD" BEL "P_IO_UC_SLWR" BEL "P_O_CAL" BEL "P_O_ECLK_IND" BEL
        "P_O_ECLK_OUTD" BEL "P_O_ETRG_IND" BEL "P_O_ETRG_OUTD" BEL
        "P_O_LED_GREEN" BEL "P_O_LED_YELLOW" BEL "P_O_TCA_CTRL";
TIMEGRP P_IO_PMC_USR28_PADS = BEL "P_IO_PMC_USR(28)";
TIMEGRP P_I_CLK33_PAD = BEL "P_I_CLK33";
TIMEGRP P_O_LED_PADS = BEL "P_O_LED_GREEN" BEL "P_O_LED_YELLOW";
TIMEGRP P_I_PADS = TIMEGRP "P_I_PADS_ALL" EXCEPT TIMEGRP "P_I_CLK33_PAD";
TS_P_I_CLK33 = PERIOD TIMEGRP "P_I_CLK33" 32 ns HIGH 50% INPUT_JITTER 0.1 ns;
TIMEGRP "FFS" = FFS(*);
PATH TS_TIG_I_MMCX_path = FROM TIMEGRP "P_I_EXT_PADS" TO TIMEGRP "FFS";
PATH "TS_TIG_I_MMCX_path" TIG;
PATH TS_TIG_O_LED_path = FROM TIMEGRP "FFS" TO TIMEGRP "P_O_LED_PADS";
PATH "TS_TIG_O_LED_path" TIG;
PATH TS_TIG_O_ADCCLK_path = FROM TIMEGRP "FFS" TO TIMEGRP
        "P_IO_PMC_USR28_PADS";
PATH "TS_TIG_O_ADCCLK_path" TIG;
TS_clocks_clk33_tmp = PERIOD TIMEGRP "clocks_clk33_tmp" TS_P_I_CLK33 HIGH 50%
        INPUT_JITTER 0.1 ns;
TS_clocks_clk66_dcm1_tmp = PERIOD TIMEGRP "clocks_clk66_dcm1_tmp" TS_P_I_CLK33
        / 2 HIGH 50% INPUT_JITTER 0.1 ns;
TIMEGRP "P_I_PADS" OFFSET = IN 20 ns BEFORE COMP "P_I_CLK33";
TIMEGRP "P_IO_PADS" OFFSET = IN 20 ns BEFORE COMP "P_I_CLK33";
TIMEGRP "P_O_PADS" OFFSET = OUT 22 ns AFTER COMP "P_I_CLK33";
TIMEGRP "P_IO_PADS" OFFSET = OUT 22 ns AFTER COMP "P_I_CLK33";
SCHEMATIC END;

